<div class="container">
    <ul class="responsive-table">
        <li class="table-header">
            <div class="col col-4">{{'TokenId' | translate}}</div>
            <div class="col col-4">{{'Owner' | translate}}</div>
            <div class="col col-4">{{'Amount' | translate}}</div>
        </li>
        <li class="table-row" *ngFor="let merchantNodeUser of merchantNodeUsers">
            <div class="col col-4" data-label="TokenId">{{merchantNodeUser.tokenId}}</div>
            <div class="col col-4" data-label="Owner">{{showAddress(merchantNodeUser.owner)}}</div>
            <div class="col col-4" data-label="Amount">{{merchantNodeUser.amount}}</div>
        </li>
    </ul>
</div>