<div class="pb-2">
    Create new Account
</div>
<div class="container">
    <div class="row">
        <div class="col col-md-8 col-12">
            <div class="card left p-3">
                <div class="text-center py-2">
                    Transaction is being executed
                </div>
                <div class="alert alert-info text-center" role="alert">
                    Please do not leave this page.
                </div>
                
                <div>
                    <div>
                        Your Account address
                    </div>
                    <div>
                        {{contractAddress}}
                    </div>
                </div>

                <div>
                    <div>
                        Validating transaction
                    </div>
                    <div>
                        {{txid}}
                    </div>
                </div>

                <div>
                    Indexing
                </div>
                <div>
                    Your Account is ready
                </div>

                <div>
                    <button type="button" class="btn btn-primary">Start using your wallet</button>
                </div>
            </div>
        </div>
        <div class="col col-md-4 col-12">
            <div class="card right p-3">
                <div>Account usage</div>
                <div>Connect your Account</div>
            </div>
        </div>
    </div>
</div>


