<div class="color-white" *ngIf="user">

    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link hand-cursor" [ngClass]="tabName=='paycool' ? 'active' : ''" aria-current="page" (click)="changeTab('paycool')">Paycool</a>
        </li>
        <li class="nav-item">
          <a class="nav-link hand-cursor" [ngClass]="tabName=='metaforce' ? 'active' : ''" (click)="changeTab('metaforce')">Metaforce</a>
        </li>
        <li class="nav-item">
          <a class="nav-link hand-cursor" [ngClass]="tabName=='buys' ? 'active' : ''" (click)="changeTab('buys')">Packages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link hand-cursor" [ngClass]="tabName=='myPayments' ? 'active' : ''" (click)="changeTab('myPayments')">Payments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link hand-cursor" [ngClass]="tabName=='myLPLockers' ? 'active' : ''" (click)="changeTab('myLPLockers')">My LP Lockers</a>
        </li>   
        <li class="nav-item">
          <a class="nav-link hand-cursor" [ngClass]="tabName=='myCPLockers' ? 'active' : ''" (click)="changeTab('myCPLockers')">My CP Lockers</a>
        </li>   
        <li class="nav-item">
          <a class="nav-link hand-cursor" [ngClass]="tabName=='myLockers' ? 'active' : ''" (click)="changeTab('myLockers')">My Lockers</a>
        </li>      
        <li class="nav-item">
          <a class="nav-link hand-cursor" [ngClass]="tabName=='myRewards' ? 'active' : ''" (click)="changeTab('myRewards')">My rewards</a>
        </li>
        <li class="nav-item" *ngIf="icos && (icos.length > 0)">
          <a class="nav-link hand-cursor" [ngClass]="tabName=='icos' ? 'active' : ''" (click)="changeTab('icos')">Icos</a>
        </li>

        <li class="nav-item" *ngIf="myicoRewards && (myicoRewards.length > 0)">
          <a class="nav-link hand-cursor" [ngClass]="tabName=='myicoRewards' ? 'active' : ''" (click)="changeTab('myicoRewards')">My Ico rewards</a>
        </li>
    </ul>
  
    <div *ngIf="tabName=='myPayments'">
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-3">{{'Type' | translate}}</div>
          <div class="col col-3">{{'totalReward' | translate}}</div>
          <div class="col col-3">{{'dateCreated' | translate}}</div>
          <div class="col col-3"></div>
        </li>
        <li class="table-row" *ngFor="let item of myPayments">

          <div class="col col-3" data-label="Type">
            {{item.type}}
          </div>
          <div class="col col-3" data-label="Total Reward">
            {{showAmount(item.totalReward)}}
          </div>
          <div class="col col-3" data-label="Date Created">
            {{item.dateCreated | date}}
          </div>
          <div class="col col-3" >          
            <a (click)="showRwards(item.txid)">
            Show rewards
            </a>
          </div>
        </li>
      </ul>
    </div> 

    <div *ngIf="tabName=='myLPLockers'">
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-3">{{'ID' | translate}}</div>
          <div class="col col-3">{{'Amount' | translate}}</div>
          <div class="col col-3">{{'Released Amount' | translate}}</div>
          <div class="col col-3">{{'Created At' | translate}}</div>
        </li>
        <li class="table-row" *ngFor="let item of myLPLockers">
          <div class="col col-3" data-label="ID">
            {{item.id}}
          </div>
          <div class="col col-3" data-label="Amount">
            {{showAmount(item.amount)}}
          </div>
          <div class="col col-3" data-label="Released Amount">
            {{showAmount(item.releaseAmount)}}
          </div>
          <div class="col col-3" data-label="ID">
            <div>
              {{(item.timestamp * 1000) | date}}
            </div>
            <div>
              <button type="button" class="btn btn-primary" (click)="unlock(item)" *ngIf="item.amount != item.releaseAmount">
                Unlock
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div> 

    <div *ngIf="tabName=='myCPLockers'">
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-6">{{'ID' | translate}}</div>
          <div class="col col-3">{{'Amount' | translate}}</div>
          <div class="col col-3">{{'Released Amount' | translate}}</div>
        </li>
        <li class="table-row" *ngFor="let item of myCPLockers">
          <div class="col col-6" data-label="ID">
            {{item.id}}
          </div>
          <div class="col col-3" data-label="Amount">
            {{showAmount(item.amount)}}
          </div>
          <div class="col col-3" data-label="Released Amount">
            {{showAmount(item.releaseAmount)}}
          </div>
        </li>
      </ul>
    </div> 

    <div *ngIf="tabName=='myLockers'">
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-3">{{'ID' | translate}}</div>
          <div class="col col-3">{{'Coin' | translate}}</div>
          <div class="col col-3">{{'Amount' | translate}}</div>
          <div class="col col-3">{{'Release Time' | translate}}</div>
        </li>
        <li class="table-row" *ngFor="let item of myLockers">
          <div class="col col-3" data-label="ID">
            {{item.id}}
          </div>
          <div class="col col-3" data-label="Type">
            {{showCoinName(item.coinType)}}
          </div>
          <div class="col col-3" data-label="Amount">
            {{item.amount}}
          </div>
          <div class="col col-3" data-label="Reward Amount">
            {{timeConverter(item.releaseTime)}}
          </div>
        </li>
      </ul>
    </div> 


    <div *ngIf="tabName=='myRewards'">
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-4">{{'From' | translate}}</div>
          <div class="col col-3">{{'Type' | translate}}</div>
          <div class="col col-3">{{'Amount/Reward Amount' | translate}}</div>
          <div class="col col-2">{{'Txid' | translate}}</div>
        </li>
        <li class="table-row" *ngFor="let item of myRewards">
          <div class="col col-4" data-label="From">
            <div>{{item.from}}</div>
            <div>{{item.fromAmount}}</div>
          </div>
          <div class="col col-3" data-label="Type">
            {{item.type}}
          </div>
          <div class="col col-3" data-label="Amount/Reward Amount">
            <div>{{item.amount}} {{item.coin}}</div>
            <div>{{item.rewardAmount}} {{item.rewardCoin}}</div>
          </div>
          <div class="col col-3" data-label="Txid">
            <a href="{{showUrl(item.txid)}}" target="_blank">
              {{showId(item.txid)}}
            </a>
          </div>
        </li>
      </ul>
    </div>    

    <div *ngIf="tabName=='myicoRewards'">
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-4">{{'From' | translate}}</div>
          <div class="col col-3">{{'Type' | translate}}</div>
          <div class="col col-3">{{'Amount' | translate}}</div>
          <div class="col col-2">{{'Reward Amount' | translate}}</div>
        </li>
        <li class="table-row" *ngFor="let item of myicoRewards">
          <div class="col col-4" data-label="From">
            {{item.from}}
          </div>
          <div class="col col-3" data-label="Type">
            {{item.type}}
          </div>
          <div class="col col-3" data-label="Amount">
            {{item.amount}} {{item.coin}}
          </div>
          <div class="col col-3" data-label="Reward Amount">
            {{item.rewardAmount}} {{item.rewardCoin}}
          </div>
        </li>
      </ul>
    </div>

    <div *ngIf="tabName=='icos'">
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-3">{{'User' | translate}}</div>
          <div class="col col-4">{{'Amount' | translate}}</div>
          <div class="col col-3">{{'Liquidity' | translate}}</div>
          <div class="col col-2"></div>
        </li>
        <li class="table-row" *ngFor="let item of icos">
          <div class="col col-3" data-label="Project Package">
            {{item.user}}
          </div>
          <div class="col col-4" data-label="Amount">
            {{item.amount}}
          </div>
          <div class="col col-3" data-label="Liquidity">
            {{item.liquidity}}
          </div>
          <div class="col col-2">
            <a (click)="showIcoRwards(item._id)">
              Show rewards
            </a>
          </div>
        </li>
      </ul>
    </div>

    <div *ngIf="tabName=='buys'">
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-5">{{'Project Package' | translate}}</div>
          <div class="col col-2">{{'Amount' | translate}}</div>
          <div class="col col-3">{{'Date created' | translate}}</div>
          <div class="col col-2"></div>
        </li>
        <li class="table-row" *ngFor="let item of buys">
          <div class="col col-5" data-label="Project Package">
            <div>{{item.txid}}</div>
            <div>{{item.projectPackage ? showName(item.projectPackage.name) : ''}}</div>
            
          </div>
          <div class="col col-2" data-label="Amount">
            {{showAmount(item.amount)}} {{showCoinName(item.coinType)}}
          </div>
          <div class="col col-3" data-label="Date created">
            {{item.dateCreated}}
          </div>
          <div class="col col-2">
            <a (click)="showRwards(item.txid)">
              Show rewards
            </a>
          </div>
        </li>
      </ul>
    </div>
    
    <div *ngIf="tabName=='paycool' || tabName=='metaforce'">
        <div class="container memberArea userTreeContent">
          <div class="row">
            <div class="col-md-12">
              <div class="d-flex justify-content-center align-items-center flex-column my-3">
                <div>
                  User:
                  <a class="link" (click)="changeParentAddress(user)">
                    {{user}}
                  </a>
                </div>
                <div>
                  Referral:
                  <a class="link" (click)="changeParentAddress(referral)">
                    {{referral}}
                  </a>
                </div>

                <div *ngIf="status">
                    {{'Status' | translate}}: {{showStatus(status)}}
                </div>

                <div *ngIf="status">
                  <div>{{'Date Created' | translate}}: {{dateCreated | date}}</div>
                  <div>{{'Expired At' | translate}}: {{expiredAt | date}}</div>
              </div>
                
                <div *ngIf="pv">
                  personal volume: {{pv}}
                </div>
                <div *ngIf="gv">
                  group volume: {{gv}}
                </div>
                <div>
                  total children's count: {{totalCount}}
                </div>
              </div>
              <nav class="d-flex justify-content-center">
                <ul class="pagination">
                  <li class="page-item hand-cursor">
                    <a class="page-link" (click)="gotoPage(pageNum - 1)">Previous</a>
                  </li>
                  <li class="page-item hand-cursor" *ngIf="totalPageNum >= 0">
                    <a class="page-link" (click)="gotoPage(0)">1</a>
                  </li>
                  <li class="page-item hand-cursor" *ngIf="totalPageNum >= 1">
                    <a class="page-link" (click)="gotoPage(1)">2</a>
                  </li>
                  <li class="page-item hand-cursor" *ngIf="totalPageNum >= 2">
                    <a class="page-link" (click)="gotoPage(2)">3</a>
                  </li>
                  <li class="page-item hand-cursor">
                    <a class="page-link" (click)="gotoPage(pageNum + 1)">Next</a>
                  </li>
                </ul>
              </nav>
              <ul class="responsive-table">
                <li class="table-header">
                  <div class="col col-4">{{'User' | translate}}</div>
                  <div class="col col-4">{{'Ref address' | translate}}</div>
                  <div class="col col-2">{{'Status' | translate}}</div>
                </li>
                <li class="table-row" *ngFor="let item of users">
                  <div class="col col-4" data-label="User">
                    <a class="link" (click)="changeParentAddress(item.user)">
                      {{item.user}}({{item.childrenCount}})
                    </a>
                  </div>
                  <div class="col col-4" data-label="RefAdd">
                    <a class="link" (click)="changeParentAddress(item.referral)">
                      {{item.referral}}
                    </a>
                  </div>
                  <div class="col col-2" data-label="Status">{{showStatus(item.status)}}</div>
      
                </li>
              </ul>
              <nav class="d-flex justify-content-center">
                <ul class="pagination">
                  <li class="page-item hand-cursor">
                    <a class="page-link" (click)="gotoPage(pageNum - 1)">Previous</a>
                  </li>
                  <li class="page-item hand-cursor" *ngIf="totalPageNum >= 0">
                    <a class="page-link" (click)="gotoPage(0)">1</a>
                  </li>
                  <li class="page-item hand-cursor" *ngIf="totalPageNum >= 1">
                    <a class="page-link" (click)="gotoPage(1)">2</a>
                  </li>
                  <li class="page-item hand-cursor" *ngIf="totalPageNum >= 2">
                    <a class="page-link" (click)="gotoPage(2)">3</a>
                  </li>
                  <li class="page-item hand-cursor">
                    <a class="page-link" (click)="gotoPage(pageNum + 1)">Next</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
    </div>   
</div>
