<div class="color-white">

    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="tabName=='paycool' ? 'active' : ''" aria-current="page" (click)="changeTab('paycool')">Paycool</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="tabName=='metaforce' ? 'active' : ''" (click)="changeTab('metaforce')">Metaforce</a>
        </li>
    </ul>
    
      <div>
        <div class="container memberArea userTreeContent" *ngIf="user">
          <div class="row">
            <div class="col-md-12">
              <div class="d-flex justify-content-center align-items-center flex-column my-3">
                <div>
                  User:
                  <a class="link" (click)="changeParentAddress(user)">
                    {{user}}
                  </a>
                </div>
                <div>
                  Referral:
                  <a class="link" (click)="changeParentAddress(referral)">
                    {{referral}}
                  </a>
                </div>
                <div *ngIf="pv">
                  personal volume: {{pv}}
                </div>
                <div *ngIf="gv">
                  group volume: {{gv}}
                </div>
                <div>
                  total children's count: {{totalCount}}
                </div>
              </div>
              <nav class="d-flex justify-content-center">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" (click)="gotoPage(pageNum - 1)">Previous</a>
                  </li>
                  <li class="page-item" *ngIf="totalPageNum >= 0">
                    <a class="page-link" (click)="gotoPage(0)">1</a>
                  </li>
                  <li class="page-item" *ngIf="totalPageNum >= 1">
                    <a class="page-link" (click)="gotoPage(1)">2</a>
                  </li>
                  <li class="page-item" *ngIf="totalPageNum >= 2">
                    <a class="page-link" (click)="gotoPage(2)">3</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" (click)="gotoPage(pageNum + 1)">Next</a>
                  </li>
                </ul>
              </nav>
              <ul class="responsive-table">
                <li class="table-header">
                  <div class="col col-4">{{'User' | translate}}</div>
                  <div class="col col-4">{{'Ref address' | translate}}</div>
                  <div class="col col-2">{{'Status' | translate}}</div>
                </li>
                <li class="table-row" *ngFor="let item of users">
                  <div class="col col-4" data-label="User">
                    <a class="link" (click)="changeParentAddress(item.user)">
                      {{item.user}}({{item.childrenCount}})
                    </a>
                  </div>
                  <div class="col col-4" data-label="RefAdd">
                    <a class="link" (click)="changeParentAddress(item.referral)">
                      {{item.referral}}
                    </a>
                  </div>
                  <div class="col col-2" data-label="Status">{{showStatus(item.status)}}</div>
      
                </li>
              </ul>
              <nav class="d-flex justify-content-center">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" (click)="gotoPage(pageNum - 1)">Previous</a>
                  </li>
                  <li class="page-item" *ngIf="totalPageNum >= 0">
                    <a class="page-link" (click)="gotoPage(0)">1</a>
                  </li>
                  <li class="page-item" *ngIf="totalPageNum >= 1">
                    <a class="page-link" (click)="gotoPage(1)">2</a>
                  </li>
                  <li class="page-item" *ngIf="totalPageNum >= 2">
                    <a class="page-link" (click)="gotoPage(2)">3</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" (click)="gotoPage(pageNum + 1)">Next</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>   
</div>
