<div class="container">
    <H3>{{"AboutPaycool"|translate}} Pay.cool</H3>
    <br><br>
    <p>{{"paycooldesc1"|translate}}</p>
    <p>{{"paycooldesc2"|translate}}</p>
    <p>{{"paycooldesc3"|translate}}</p>
    <p>{{"paycooldesc4"|translate}}</p>
    <p>{{"paycooldesc5"|translate}}</p>
    <br>
    <b>{{"Visit Related Websites"|translate}}</b>
    <p>
        <a href="https://fabcoin.org/">Fabcoin.org </a>
        <br>
        <a href="https://exchangily.com/">exchangily.com</a>
        <br>
    </p>

    <br>
    <b>{{"Download Our"|translate}}APP</b>
    <p>
        <a href="/home#downloadapp">Download Link</a>
        <br>
    </p>



    <br><br><br>
</div>