<div class="container">
    <H3>About 7StarPay</H3>
    <br><br>
    <b>Introduction</b>
    <p>
        7StarPay is a blockchain based universal decentralized cryptocurrency payment network, built with a revolutionary business model, 7StarPay is the world first consumerchant platform also, turn consumption into investment, 7StarPay enables consumers to earn money by using it to make payment.
        <br>
        Relys on a rebate-rewards model, all participants include consumer, merchant, merchant's referral and consumer's multi-levle referral system are benefited.
    </p>
    <br>
    <b>Entity</b>
    <p>
        7StarPay run by 7-Star Group Corp which is registered in the United States.
        <br>
        7StarPay platform doesn't hold merhants' or consumers' assets, its responsilibity is to develop, manage the referral network.
        <br>
    </p>

    <br><br><br>
</div>