<div class="container">
    <H3>About Pay.cool</H3>
    <br><br>
    <b>Introduction</b>
    <p>
        Pay.col is a blockchain based universal decentralized cryptocurrency payment network, built with a revolutionary business model, pay.cool is the world first consumerchant platform also, turn consumption into investment, pay.cool enables consumers to earn money by using it to make payment.
        <br>
        Relys on a rebate-rewards model, all participants include consumer, merchant, merchant's referral and consumer's multi-levle referral system are benefited.
    </p>
    <br>
    <b>Entity</b>
    <p>
        Pay.cool run by 7-Star Group Corp which is registered in the United States.
        <br>
        Pay.cool platform doesn't hold merhants' or consumers' assets, its responsilibity is to develop, manage the referral network.
        <br>
    </p>

    <br><br><br>
</div>