<h3 class="text-white">
    Pay.cool MultiSig Wallet
</h3>
<p>
    A new way to help you access blockchain safer.
</p>
<div class="row">
    <div class="col col-md-6 col-12">
        <div class="border p-3 m-3">
            <p>Create MultiSig</p>
            <p>Create a wallet that controlled by multiple owners.</p>
            <p class="my-2">
                <button type="button" class="btn btn-primary btn-lg btn-block" (click)="create()">Create Wallet</button>
            </p>
        </div>
        
    </div>
    <div class="col col-md-6 col-12">
        <div class="border p-3 m-3">
            <p>Import MultiSig</p>
            <p>Already have a MultiSig Wallet, import it with the address.</p>
            <p class="my-2">
                <button type="button" class="btn btn-primary btn-lg btn-block" (click)="import()">Import Wallet</button>
            </p>
        </div>
    </div>
</div>
