<h3 class="text-white">
    {{'Pay.cool MultiSig Wallet'|translate}}
</h3>
<p>
    {{'newsafeway'|translate}}
</p>
<div class="row">
    <div class="col col-md-6 col-12">
        <div class="border p-3 m-3">
            <p>{{'Create MultiSig'|translate}}</p>
            <p>{{'multisigexp'| translate}}</p>
            <p class="my-2">
                <button type="button" class="btn btn-primary btn-lg btn-block" (click)="create()">{{'Create Wallet'|translate}}</button>
            </p>
        </div>
        
    </div>
    <div class="col col-md-6 col-12">
        <div class="border p-3 m-3">
            <p>{{'Import MultiSig'|translate}}</p>
            <p>{{'hasMultisig'|translate}}</p>
            <p class="my-2">
                <button type="button" class="btn btn-primary btn-lg btn-block" (click)="import()">{{'Import Wallet'|translate}}</button>
            </p>
        </div>
    </div>
</div>
