<!--
				=====================================================
					Footer 
				=====================================================
				-->
<footer class="theme-footer dark-style">
    <div class="container">
        <div class="inner-wrapper">
            <div class="top-footer-data-wrapper">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 footer-logo">
                        <div class="logo">
                            <a href="index.html">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row footerLinks">
                    <div class="col-lg-3 col-sm-12 footer-list"></div>
                    <div class="col-lg-3 col-sm-6 footer-list">
                        <h4 class="title">Quick Links</h4>
                        <ul>
                            <li><a href="#">How it Works</a></li>
                            <li><a href="#">Policies</a></li>
                            <li><a href="/privacy">Privacy</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Service</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-sm-6 footer-list">
                        <h4 class="title">About Us</h4>
                        <ul>
                            <li><a href="/about">About Pay.cool</a></li>
                            <li><a href="/job">Jobs</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Testimonials</a></li>
                            <li><a href="https://blog.pay.cool" target="_blank">Blog</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-sm-12 footer-list"></div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.top-footer-data-wrapper -->

            <div class="bottom-footer clearfix">

                <p class="copyright">
                    {{year}} Exchangily LLC All Rights Reserved.
                </p>
                <ul>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/Pay_dot_Cool"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <!-- /.bottom-footer -->
        </div>
    </div>
    <!-- /.container -->
</footer>