<!--
				=====================================================
					Footer 
				=====================================================
				-->
<footer class="theme-footer dark-style">
    <div class="container">
        <div class="inner-wrapper">
            <div class="top-footer-data-wrapper  ">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 footer-logo">
                        <div class="logo">
                            <a href="index.html">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row footerLinks text-left">
                    <div class="col-md-4 footer-list">
                        <h5 class="title">{{'Quick Links'|translate}}</h5>
                        <ul>
                            <li><a href="/">{{'Home'|translate}}</a></li>
                            <li><a href="/{{storedLan}}/privacy">{{'Privacy'|translate}}</a></li>
                            <li><a href="https://www.npmjs.com/package/cool-connect" target="_blank">{{'Developers'|translate}}</a></li>
                            <li><a href="/support">{{'Help'|translate}}</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4  footer-list">
                        <h5 class="title">{{'About Us'|translate}}</h5>
                        <ul>
                            <li><a href="/about">{{'About Pay.cool'|translate}}</a></li>
                            <li><a href="/animation">{{'Animation'|translate}}</a></li>
                            <li><a href="/job">{{'Jobs'|translate}}</a></li>
                            <li><a href="https://blog.pay.cool" target="_blank">{{'Blog'|translate}}</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4  footer-list">
                        <h5 class="title">{{'Stay Connected'|translate}}</h5>
                        <div class="row socialRow">
                            <div class="col-12">
                                <div><a href="https://www.facebook.com/BestDEX"><i class="fa fa-facebook"
                                            aria-hidden="true"></i></a></div>
                                <div><a href="https://twitter.com/Pay_dot_Cool"><i class="fa fa-twitter"
                                            aria-hidden="true"></i></a></div>
                                <div><a href="https://www.instagram.com/exchangilydex/"><i class="fa fa-instagram"
                                            aria-hidden="true"></i></a></div>
                                <div><a href="https://www.linkedin.com/company/paycool/"><i class="fa fa-linkedin"
                                            aria-hidden="true"></i></a></div>
                                <!-- youtube -->
                                <div><a href="https://www.youtube.com/@exchangily2545"><i class="fa fa-youtube"
                                            aria-hidden="true"></i></a></div>
                                <div>- {{'JOIN US'|translate}}</div>
                            </div>
                        </div>
                        <div>service@pay.cool </div>

                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.top-footer-data-wrapper -->

            <!-- /.bottom-footer -->
        </div>
    </div>
    <!-- /.container -->
    <div class="container-fluid bg-light">
        <div class="container">
            <!-- subscribe box -->
            <div class="row pt-5">
                <div class="col-md-2"></div>
                <div class="col-md-8 center">
                    <h3>{{'subNews'| translate}}</h3>
                    <form (ngSubmit)="onSubmit()" #emailForm="ngForm" class="in-row">
                        <div class="form-group max-space">
                            <input type="email" class="form-control" id="emailInput" name="email" [(ngModel)]="email" required placeholder="{{'signEml'|translate}}">
                            <div *ngIf="emailForm.submitted && !emailValid" class="text-danger">
                                {{'emailVal'| translate}}
                            </div>
                            <div *ngIf="emailForm.submitted && emailValid" class="text-success ">
                                {{'succesScrib'|translate}}! </div>
                        </div>
                        <button type="submit" class="btn btn-primary rounded-btn ">{{'Get Started'|translate}}</button>
                    </form>
                </div>
                <div class="col-md-2"></div>
            </div>

        </div>

        <div class="bottom-footer clearfix">

            <p class="copyright">
                {{year}} PAY.COOL {{'cpyRight'|translate}} Powered by Aukfa Inc.
            </p>

        </div>
    </div>
</footer>