<div class="main fixed-top">
    <div class="container">
        <div class="clearfix">
            <div class="logo">
                <a href="index.html"><span class="title">PAY<span class="reddot">.</span>COOL</span></a>
            </div>

            <div class="menu menubar">
                <nav class="navbar navbar-expand-lg dark-bg" id="mega-menu-holder">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav">
                            <li class="nav-item small">
                                <a class="nav-link " aria-current="page" href="./home" routerLinkActive="active">{{"Home" | translate}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " aria-current="page" routerLink="./wallet" routerLinkActive="active">{{"Wallet" | translate}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " aria-current="page" routerLink="./merchants" routerLinkActive="active">{{"Merchant" | translate}}</a>
                            </li>
                        <!--                            
                            <li class="nav-item">
                                <a class="nav-link " aria-current="page" href="./my-assets">{{"Defi assets" | translate}}</a>
                            </li>
                        -->
                            <li class="nav-item">
                                <a class="nav-link " aria-current="page" routerLink="./user-tree" routerLinkActive="active">{{"Member" | translate}}</a>
                            </li>

                            <li class="nav-item" *ngIf="hasWallet">
                                <a class="nav-link  hand-cursor" aria-current="page" (click)="openConfirmDialog()">{{"Delete" | translate}}</a>
                            </li>
    
                            <li class="nav-item dropdown">
                                <a class="nav-link active dropdown-toggle lanitem" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">{{selectedLan.viewValue}}</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdown">
                                    <li *ngFor="let lan of languages" (click)="onSelectLan(lan)">
                                        <span class="dropdown-item hand-cursor xsmall">{{lan.viewValue}}</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </nav>
            </div>
        </div>
    </div>
</div>