.main {
    background-color: #14172a77;
    height: 72px;
    box-shadow: 0 2px 4px 0 rgba(180, 180, 180, 0.1);
}

.container {
    height: inherit;
}

.clearfix {
    display: flex;
    margin-left: 2em;
    margin-right: 2em;
    height: inherit;
    line-height: 100%;
}

.logoImg{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.logo {
    display: flex;
    justify-content: center;
    margin-left: 0.2em;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
}

.title {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    font-weight: 800;
}

.logoImg {
    max-height: 42px;
}

.reddot {
    color: red;
}

@media (max-width: 1200px) {
    .title {
        font-size: 20px;
    }
    .logoImg {
        max-height: 42px;
    }
}

@media (max-width: 900px) {
    .title {
        font-size: 18px;
    }
    .logoImg {
        max-height: 36px;
    }
}

@media (max-width:450px){
    .title {
        font-size: 16px;
    }
    .logoImg {
        max-height: 24px;
    }
}

.front-nav{
    margin-top: 10px;

    .nav-item{
        margin-left: 30px;
        color: #fff;
    }
}

.navbar-nav {
    align-items: center;
    justify-content: center;
}

#mega-menu-holder ul > li > a {
    font-size: 14px;
    color: #fff;
}

#mega-menu-holder ul > li.nav-item.dropdown {
    // margin-top: 3px;
    font-size: 15px;
    cursor: pointer;
    background-color: #1ed5f1;
    padding: 6px 10px 14px 10px;
    color: #fff;
    border-radius: 100px;
    margin-top: 8px;

    a {
        font-weight: 800;
        color: #131313 !important;
        text-decoration: none !important;
    }

    a:before {
        background: none;
    }
}

.lanitem {
    font-size: x-small;
}

.menu {
    margin-left: auto;
    margin-right: 0;
}




.mobileNav{
    display: none;
}


@media (max-width: 991px) {
    .mobileNav{
        display: block;
    }

    .front-nav{
        display: none;
    }

    li.nav-item {
        width: fit-content;
        text-align: center;
        margin: 0 auto;
    }

    .mainSidePanel{
        background: #151423;
        position: absolute;
        top: 72px;
        right: -33px;
        width: 50vw;
        height: calc(100vh - 72px);
    }
}

