.event-header{
    h2{
        color: #fff;
        font-size: 3em;
    }
}

.eventDesc{
    color: #8485c1;
    font-size: 13px;
}

.date{
    color: #929ad7;
    font-weight: 800;
    font-size: 13px;
}

.eventImg{
    // padding: 10px;
    height: 100%;
    width: 260px;
    background: url("/assets/images/img/event.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    border-radius: 5px;
}

@media (max-width: 650px) {
    h2 {
        font-size: 2em;
    }
}