<div class="d-flex justify-content-center">
    <div>
        <form class="example-form">
            <div class="container">
                <div class="row">
                    <div class="col col-12 col-md-6">
                        <mat-form-field class="example-full-width">
                            <mat-label>{{'To Merchant' | translate}}</mat-label>
                            <input matInput placeholder="{{'To Merchant' | translate}}" value="">
                          </mat-form-field>
                    </div>
                    <div class="col col-12 col-md-6">
                        <mat-form-field class="example-full-width">
                            <mat-label>{{'To Merchant Referrer' | translate}}</mat-label>
                            <input matInput placeholder="{{'To Merchant Referrer' | translate}}" value="">
                        </mat-form-field>  
                    </div>
                </div>

                <div class="row">
                    <div class="col col-12 col-md-6">
                        <mat-form-field class="example-full-width">
                            <mat-label>{{'To Consumer' | translate}}</mat-label>
                            <input matInput placeholder="{{'To Consumer' | translate}}" value="">
                        </mat-form-field>   
                    </div>
                    <div class="col col-12 col-md-6">
                        <mat-form-field class="example-full-width">
                            <mat-label>{{'To Consumer Referrer level 1' | translate}}</mat-label>
                            <input matInput placeholder="{{'To Consumer Referrer level 1' | translate}}" value="">
                        </mat-form-field>  
                    </div>
                </div>     
                
                <div class="row">
                    <div class="col col-12 col-md-6">
                        <mat-form-field class="example-full-width">
                            <mat-label>{{'To Consumer Referrer level 2' | translate}}</mat-label>
                            <input matInput placeholder="{{'To Consumer Referrer level 2' | translate}}" value="">
                        </mat-form-field>   
                    </div>
                    <div class="col col-12 col-md-6">
                        <mat-form-field class="example-full-width">
                            <mat-label>{{'To Consumer Referrer level 3' | translate}}</mat-label>
                            <input matInput placeholder="{{'To Consumer Referrer level 3' | translate}}" value="">
                        </mat-form-field>   
                    </div>
                </div>                   

                <div class="row">
                    <div class="col col-12 col-md-6">
                        <mat-form-field class="example-full-width">
                            <mat-label>{{'To Consumer Referrer level 4' | translate}}</mat-label>
                            <input matInput placeholder="{{'To Consumer Referrer level 4' | translate}}" value="">
                        </mat-form-field>  
                    </div>
                    <div class="col col-12 col-md-6">
                        <mat-form-field class="example-full-width">
                            <mat-label>{{'To Consumer Referrer level 5' | translate}}</mat-label>
                            <input matInput placeholder="{{'To Consumer Referrer level 5' | translate}}" value="">
                        </mat-form-field>   
                    </div>
                </div>   

                <div class="row">
                    <div class="col col-12 col-md-6">
                        <mat-form-field class="example-full-width">
                            <mat-label>{{'To Consumer Referrer level 6' | translate}}</mat-label>
                            <input matInput placeholder="{{'To Consumer Referrer level 6' | translate}}" value="">
                        </mat-form-field>    
                    </div>
                    <div class="col col-12 col-md-6">
                        <mat-form-field class="example-full-width">
                            <mat-label>{{'To Consumer Referrer level 7' | translate}}</mat-label>
                            <input matInput placeholder="{{'To Consumer Referrer level 7' | translate}}" value="">
                        </mat-form-field>    
                    </div>
                </div>  

                <div class="row">
                    <div class="col col-12 col-md-6">
                        <mat-form-field class="example-full-width">
                            <mat-label>{{'To Consumer Referrer level 8' | translate}}</mat-label>
                            <input matInput placeholder="{{'To Consumer Referrer level 8' | translate}}" value="">
                        </mat-form-field>    
                    </div>
                </div>   
                
                <div class="row">
                    <div class="col col-12">
                        <button mat-raised-button color="primary">Confirm</button>
                    </div>
                </div>
            </div>
           
        </form>        
    </div>
</div>