.outbox {
    width: 100%;
}

.main {
    width: 100%;
    max-width: 800px;
    margin:auto;
    padding: 2rem;
    border: 1px dashed gray;
    font-size: 16px;
}

@media (max-width: 768px) {
    .main {
        font-size: 12px;
        padding: 1rem;
    }
}
