.no-wallet {
    .container {
        color: white;
    }
    .btn {
        width: 280px;
        margin-top: 3em;
        color: white;
        font-size: 1em;
    }
    h1 {
        color: #fff;
        margin-top: 100px;
        background: linear-gradient(45deg, #331ef1 0%, #9d1ef1 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .notes {
        margin-top: 100px;
        max-width: 80%;
        /* padding-left: 10%; */
        text-align: center;
        margin: 20px auto 20px;
    }
    .btn1 {
        margin-top: 20px;
    }
    .btn2 {
        margin-bottom: 200px;
    }
}
