.no-wallet {
    .container {
        color: white;
    }
    .btn {
        width: 280px;
        margin-top: 3em;
        color: white;
        font-size: 1em;
    }
    .notes {
        margin-top: 100px;
        max-width: 80%;
        padding-left: 10%;
    }
    .btn1 {
        margin-top: 20px;
    }
    .btn2 {
        margin-bottom: 200px;
    }
}