<div class="border p-3">
    <div class="d-flex justify-content-between align-items-center">
        <span>{{transaction.type}}</span>
        <span>{{transaction.memo}}</span>
        <span>{{transaction.dateCreated | date}}</span>
        <a href="{{link()}}" target="_blank">
            <span *ngIf="transaction.status == '0x1'" class="badge badge-success">
                Success
            </span>
            <span *ngIf="transaction.status == '0x0'" class="badge badge-danger">
                Failed
            </span>
        </a>

        
    </div>
</div>