
<div *ngIf="txid" class="text-center">
    txid: {{txid}}
</div>
<div class="container" *ngIf="isContractOwner">
    <div class="row p-2">
        <div class="col col-6">
            <div class="card p-3">
                <div>createAccountByAdmin</div>
                <div class="form-group">
                    <label for="exampleInputEmail1">{{"user"|translate}} *</label>
                    <input type="text" class="form-control" id="user" [(ngModel)]="user" aria-describedby="user" placeholder="{{'user'| translate}}">
                </div>
    
                <div class="form-group">
                    <label for="exampleInputEmail1">{{"Referal"|translate}} *</label>
                    <input type="text" class="form-control" id="referal" [(ngModel)]="referal" aria-describedby="referal" placeholder="{{'referal'| translate}}">
                </div>    
    
                <div class="form-group">
                    <label for="exampleInputEmail1">{{"Status"|translate}} *</label>
                    <select [(ngModel)]="status" name="status" class="form-select form-select-sm mb-3 small coinselect" aria-label=".form-select-lg example">
                        <option value="">{{'Select status' | translate}}:</option>
                        <option *ngFor="let item of statuses" value="{{item.value}}">{{item.text}}</option>
                    </select>
                </div>  
                <div class="text-center">
                    <button class="btn add-wallet btnitem black handcursor" (click)="createAccountByAdmin()">
                        {{"createAccountByAdmin"| translate }}
                    </button>                    
                </div>  
            </div>
        </div>

        <div class="col col-6">
            <div class="card p-3">
                <div>modifyReferral</div>
                <div class="form-group">
                    <label for="exampleInputEmail1">{{"User"|translate}} *</label>
                    <input type="text" class="form-control" id="user" [(ngModel)]="user" aria-describedby="user" placeholder="{{'user'| translate}}">
                </div>
    
                <div class="form-group">
                    <label for="exampleInputEmail1">{{"newReferral"|translate}} *</label>
                    <input type="text" class="form-control" id="referal" [(ngModel)]="referal" aria-describedby="referal" placeholder="{{'referal'| translate}}">
                </div>    
                <div class="text-center">
                    <button class="btn add-wallet btnitem black handcursor" (click)="modifyReferRecord()">
                        {{"modifyReferral"| translate }}
                    </button>                    
                </div>  
            </div>
            
        </div>        
    </div>

    <div class="row p-2">
        <div class="col col-6">
            <div class="card p-3">
                <div>modifyReferralAndStatus</div>
                <div class="form-group">
                    <label for="exampleInputEmail1">{{"User"|translate}} *</label>
                    <input type="text" class="form-control" id="user" [(ngModel)]="user" aria-describedby="user" placeholder="{{'user'| translate}}">
                </div>
    
                <div class="form-group">
                    <label for="exampleInputEmail1">{{"Referal"|translate}} *</label>
                    <input type="text" class="form-control" id="referal" [(ngModel)]="referal" aria-describedby="referal" placeholder="{{'referal'| translate}}">
                </div>    
    
                <div class="form-group">
                    <label for="exampleInputEmail1">{{"Status"|translate}} *</label>
                    <select [(ngModel)]="status" name="status" class="form-select form-select-sm mb-3 small coinselect" aria-label=".form-select-lg example">
                        <option value="">{{'Select status' | translate}}:</option>
                        <option *ngFor="let item of statuses" value="{{item.value}}">{{item.text}}</option>
                    </select>
                </div>  
                <div class="text-center">
                    <button class="btn add-wallet btnitem black handcursor" (click)="modifyReferralAndStatus()">
                        {{"modifyReferralAndStatus"| translate }}
                    </button>                    
                </div>  
            </div>
        </div>

        <div class="col col-6">
            <div class="card p-3">
                <div>modifyStatus</div>
                <div class="form-group">
                    <label for="exampleInputEmail1">{{"User"|translate}} *</label>
                    <input type="text" class="form-control" id="user" [(ngModel)]="user" aria-describedby="user" placeholder="{{'user'| translate}}">
                </div>
    
                <div class="form-group">
                    <label for="exampleInputEmail1">{{"Status"|translate}} *</label>
                    <select [(ngModel)]="status" name="status" class="form-select form-select-sm mb-3 small coinselect" aria-label=".form-select-lg example">
                        <option value="">{{'Select status' | translate}}:</option>
                        <option *ngFor="let item of statuses" value="{{item.value}}">{{item.text}}</option>
                    </select>
                </div>    
                <div class="text-center">
                    <button class="btn add-wallet btnitem black handcursor" (click)="modifyStatus()">
                        {{"modifyStatus"| translate }}
                    </button>                    
                </div> 
            </div>
             
        </div>        
    </div>  
    
    <div class="row p-2">
        <div class="col col-6">
            <div class="card p-3">
                <div>createMultipleAccounts</div>
                <div class="form-group">
                    <label for="exampleInputEmail1">{{"users"|translate}} *</label>
                    <input type="text" class="form-control" id="users" [(ngModel)]="users" aria-describedby="users" placeholder="{{'users'| translate}}">
                    <small>seperated by , for example(n1eXG5oe6wJ6h43akutyGfphqQsY1UfAUR,mwPZcX1cx9Y2ngCd1bJxzVg5uC9PSokRL1)</small>
                </div>
    
                <div class="form-group">
                    <label for="exampleInputEmail1">{{"Referal"|translate}} *</label>
                    <input type="text" class="form-control" id="referal" [(ngModel)]="referal" aria-describedby="referal" placeholder="{{'referal'| translate}}">
                </div>    
 
                <div class="text-center">
                    <button class="btn add-wallet btnitem black handcursor" (click)="createMultipleAccounts()">
                        {{"createMultipleAccounts"| translate }}
                    </button>                    
                </div>  
            </div>
        </div>

        <div class="col col-6">
            <div class="card p-3">
                <div>modifyReferralForUsers</div>
                <div class="form-group">
                    <label for="exampleInputEmail1">{{"users"|translate}} *</label>
                    <input type="text" class="form-control" id="users" [(ngModel)]="users" aria-describedby="users" placeholder="{{'users'| translate}}">
                    <small>seperated by , for example(n1eXG5oe6wJ6h43akutyGfphqQsY1UfAUR,mwPZcX1cx9Y2ngCd1bJxzVg5uC9PSokRL1)</small>
                </div>
    
                <div class="form-group">
                    <label for="exampleInputEmail1">{{"Referal"|translate}} *</label>
                    <input type="text" class="form-control" id="referal" [(ngModel)]="referal" aria-describedby="referal" placeholder="{{'referal'| translate}}">
                </div>    
 
                <div class="text-center">
                    <button class="btn add-wallet btnitem black handcursor" (click)="modifyReferralForUsers()">
                        {{"modifyReferralForUsers"| translate }}
                    </button>                    
                </div>  
            </div>
        </div>     
    </div>

    <div class="row p-2">
        <div class="col col-6">
            <div class="card p-3">
                <div>getReferral</div>
                <div class="form-group">
                    <label for="exampleInputEmail1">{{"user"|translate}}</label>
                    <input type="text" class="form-control" id="user" [(ngModel)]="user" aria-describedby="user" placeholder="{{'user'| translate}}">
                </div>

                <div class="text-center">
                    <button class="btn add-wallet btnitem black handcursor" (click)="getReferral()">
                        {{"getReferral"| translate }}
                    </button>                    
                </div>  
                <div class="text-center pt-2">
                    {{userreferal}}
                </div>
            </div>
        </div>    
        
        <div class="col col-6">
            <div class="card p-3">
                <div>getChildren</div>
                <div class="form-group">
                    <label for="exampleInputEmail1">{{"user"|translate}}</label>
                    <input type="text" class="form-control" id="user" [(ngModel)]="user" aria-describedby="user" placeholder="{{'user'| translate}}">
                </div>

                <div class="text-center">
                    <button class="btn add-wallet btnitem black handcursor" (click)="getChildren()">
                        {{"getChildren"| translate }}
                    </button>                    
                </div>  
                <div class="text-center pt-2">
                    <div *ngFor="let item of children">
                        {{item}}
                    </div>
                </div>
            </div>
        </div>  
    </div>

    <div class="row p-2">
        <div class="col col-6">
            <div class="card p-3">
                <div>getStatus of Metaforce</div>
                <div class="form-group">
                    <label for="exampleInputEmail1">{{"user"|translate}}</label>
                    <input type="text" class="form-control" id="user" [(ngModel)]="user" aria-describedby="user" placeholder="{{'user'| translate}}">
                </div>

                <div class="text-center">
                    <button class="btn add-wallet btnitem black handcursor" (click)="getStatusOfMetaforce()">
                        {{"getStatus of metaforce"| translate }}
                    </button>                    
                </div>  
                <div class="text-center pt-2">
                    {{statusOfMetaforce}}
                </div>
            </div>
        </div>    
    </div>    
</div>

<div class="container text-center" *ngIf="!isContractOwner">
    You are not the contract owner.
</div>