<div class="text-white">
    <div>
        <div>Total Amount: {{totalAmount}}</div>
        <div>Total LP: {{totalLp}}</div>
    </div>
    <ul class="responsive-table">
        <li class="table-header">
            <div class="col col-3">{{'ID' | translate}}</div>
            <div class="col col-3">
                <div>
                    {{'User' | translate}}
                </div>
                <div>
                    {{'Referral' | translate}}
                </div>
            </div>
            <div class="col col-2">{{'Amount' | translate}}</div>
            <div class="col col-2">{{'Status' | translate}}</div>
            <div class="col col-2">{{'Liquidity' | translate}}</div>
        </li>
        <li class="table-row" *ngFor="let item of ipos">
            <div class="col col-3">
                {{item._id}}
            </div>
            <div class="col col-3" data-label="User">
                <div>
                    {{item.user}}
                </div>
                <div>
                    {{item.referral}}
                </div>
            </div>
            <div class="col col-2" data-label="Amount">{{item.amount}}</div>
            <div class="col col-2">{{showStatusText(item.status)}}</div>
            <div class="col col-2" data-label="Liquidity">
                <div>
                    {{item.liquidity}}
                </div>
                <div *ngIf="isAdmin">
                    <a href="javascript:void(0)" (click)="delete(item._id)">
                        Delete
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>