<div class="container-fluid">
    <div class="container">
        <div class="row theme-banner-two">
            <div class="col-md-6">
                <div class="main-text-wrapper" data-aos="fade-right">
                    <h1><span>{{"7StarPay" | translate}}</span> {{"Consumerchant System" | translate}}</h1>
                    <p>{{"Title5" | translate}}</p>
                    <ul class="button-group clearfix">
                        <li>
                            <a [routerLink]="['/user-tree']" routerLinkActive="router-link-active">{{"Join Now" | translate}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 banner-img">
                <img src="/assets/images/banner-phone-app-blur.png" alt="" class="" data-aos="zoom-in">
            </div>
        </div>

        <div class="row partner-slider">
            <div class="item">
                <a href="https://exchangily.com"><img src="/assets/images/logos/pureExLogo.png" alt=""></a>
            </div>
            <div class="item">
                <a href="https://fabcoin.org"><img src="/assets/images/logos/fab.png" alt=""></a>
            </div>
            <div class="item">
                <a href="https://ecombar.com"><img src="/assets/images/logos/ecombar-logo.png" alt=""></a>
            </div>
            <div class="item">
                <a href="https://iddock.com"><img src="/assets/images/logos/iddock-final.png" alt=""></a>
            </div>
            <div class="item">
                <a href="#"><img src="/assets/images/logos/kanban.png" alt=""></a>
            </div>
        </div>
    </div>

    <div class="row Title1">
        <div class="container">
            <div class="text-center" lang="en">
                {{"Opportunities" | translate}}
            </div>
        </div>
    </div>

    <div class="row video-section">
        <div class="container">
            <div class="row Title2">
                {{"WHY 7STARPAY" | translate}} ?
            </div>
            <div class="iframe-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/IaWzLkokdv0"
                    title="Why You Should Use 7StarPay ?" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container about-box">
            <div class="imageDiv col-8">
                <img src="/assets/images/banner-phone-people.jpg" alt="" class="" data-aos="fade-right">
            </div>
            <div class="imageDiv2 bottomDiv">
                <div class="leading">{{"GET STARTED" | translate}}</div>
                <div class="theme-title">
                    <!-- <div class="upper-heading">{{"Why 7 Star"|translate}} ?</div> -->
                    <h3>{{"Join for free" | translate}}
                    </h3>
                </div>
                <p class="text">{{"Opportunities-content" | translate}}</p>
                <ul class="button-group clearfix">
                    <li>
                        <a [routerLink]="['/user-tree']" routerLinkActive="router-link-active">{{"Join Now" |
                            translate}}</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="container about-box">
            <div class="imageDiv2 bottomDiv2">
                <!-- <div class="leading">GET STARTED</div> -->
                <div class="theme-title">
                    <!-- <div class="upper-heading">{{"Why 7 Star"|translate}} ?</div> -->
                    <h3>{{"Title1"|translate}}
                        <span>{{"Title1-2"|translate}}</span> {{"Title1-3"|translate}}
                    </h3>
                </div>
                <p class="text">{{"Desc15"| translate}}</p>
                <ul class="button-group clearfix">
                    <li>
                        <a [routerLink]="['/user-tree']" routerLinkActive="router-link-active">{{"Join Now" |
                            translate}}</a>
                    </li>
                </ul>

            </div>
            <div class="imageDiv imageDiv-bottom col-8">
                <div>
                    <img src="/assets/images/mining-farm-it-hardware-PMCWJGQ.jpg" alt="" class="" data-aos="fade-left">
                </div>
            </div>
        </div>
    </div>

    <div class="row moredetail">
        <div class="container">
            <div class="row">
                <div class="col-md-7 bgImg">
                </div>
                <div class="imageDiv2 col-md-5">
                    <h2 class="title">{{"Title3"|translate}}</h2>
                    <p>{{"Desc31"|translate}}</p>
                </div>
            </div>
            <div class="row">
                <div class="imageDiv2 col-md-5">
                    <h2 class="title">{{"Title4"|translate}}</h2>
                    <p>{{"Desc32"|translate}}</p>
                </div>
                <div class="col-md-7 bgImg2">
                </div>
            </div>
        </div>
    </div>

    <div class="row our-features-three">
        <div class="container">
            <div class="theme-title text-center" data-aos="fade-up">
                <h2 class="blueTitle">{{"Title6" | translate}}</h2>
                <p class="text">{{"Desc21"| translate}}</p>
                <img src="/assets/images/banner-phone-app2.jpg" alt="" class="app-img">
            </div>
        </div>
    </div>
    <br><br><br>

    <div class="row color-two apps-overview">
        <div class="container mt-8">
            <div class="row py-2">
                <h3 class="orange">{{"mobile1"|translate}}</h3>
            </div>
            <div class="row">
                <h2 class="white py-2">{{"mobile2"|translate}}</h2>
            </div>
            <div class="row">
                <h3 class="white py-2">{{"mobile3"|translate}}</h3>
            </div>
            <div class="row">
                <h4 class="white py-2">{{"mobile4"|translate}}</h4>
            </div>
            <div class="row inner-wrapper">
                <div class="appleapp center mx-4">
                    <div>
                        {{"Apple store app"|translate}}
                    </div>
                    <div class="py-3 mx-8">
                        <img src="assets/images/7StarPay-ios-link.png" alt="7StarPay iOS link">
                    </div>
                    <div class="py-3">
                        <ul class="button-group linkBtn">
                            <li>
                                <a href="https://apps.apple.com/us/app/7starpay/id1571496540">
                                    <i class="flaticon-apple"></i> Apple Store
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="androidapp center mx-4">
                    <div>
                        {{"Google play app"|translate}}
                    </div>
                    <div class="py-3 mx-8">
                        <img src="assets/images/7StarPay-android-link.png" alt="7StarPay Android link">
                    </div>
                    <div class="py-3">
                        <ul class="button-group linkBtn">
                            <li>
                                <a href="https://play.google.com/store/apps/details?id=club.sevenstar.sevenstarapp">
                                    <img src="/assets/imagesBg/icon/playstore.png" width="80" alt=""> Google Play
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>