<div class="container-fluid">
    <!--    <div class="container"> -->
    <div class="row theme-banner-two">
        <div class="col-md-12 banner-img">
            <div class="titletxt txt1" data-aos="fade-left">PAY</div>
            <img src="assets/images/img/paycool12.png" alt="banner" class="img-fluid" data-aos="fade-center">
            <div class="titletxt txt2" data-aos="fade-right">COOL</div>
        </div>
        <div class="col-md-12">
            <div class="main-text-wrapper center" data-aos="fade-right">
                <div class="lefttxt">
                    <div>
                        <!-- <h1><span class="titletxt">PAY<span style="color:red">.</span>COOL {{"paycoll"|translate}}</span></h1> -->
                        <!-- <h1><span >{{"Paytoearn" | translate}} !</span></h1> -->
                    </div>
                    <div style="margin-top: 2em;">
                        <h6>
                            <span style="color: white;">
                                {{"Topdesc1"|translate}}
                                <br><br>
                                {{"Topdesc2"|translate}}
                                <br><br>
                                {{"Topdesc3"|translate}}
                                <br><br>
                                {{"Topdesc4"|translate}}
                            </span>
                        </h6>
                    </div>

                </div>
                <ul class="button-group joinBtn">
                    <li>
                        <a [routerLink]="['/user-tree']" routerLinkActive="router-link-active">{{"Join Now" |
                            translate}}</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <div class="row partner-slider">
        <div class="item">
            <a href="https://exchangily.com"><img src="/assets/images/logos/pureExLogo.png" alt=""></a>
        </div>
        <div class="item">
            <a href="https://fabcoin.org"><img src="/assets/images/logos/fab.png" alt=""></a>
        </div>
        <div class="item">
            <a href="https://ecombar.com"><img src="/assets/images/logos/ecombar-logo.png" alt=""></a>
        </div>
        <div class="item">
            <a href="https://iddock.com"><img src="/assets/images/logos/iddock-final.png" alt=""></a>
        </div>
        <div class="item">
            <a href="#"><img src="/assets/images/logos/kanban.png" alt=""></a>
        </div>
    </div>
    <!--   </div> -->

    <div class="row Title1 sword">
        <div class="container">
            <div class="text-center" lang="en">
                {{"Opportunities" | translate}}
            </div>
        </div>
    </div>
    <!---
    <div class="row video-section">
        <div class="container">
            <div class="row Title2">
                {{"WHY PAY.COOL" | translate}} ?
            </div>
            <div class="iframe-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/IaWzLkokdv0"
                    title="Why You Should Use Pay.cool ?" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
-->
    <div class="container">
        <div class="row about-box">
            <div class=" col-md-6">
                <img src="/assets/images/img/CryptoCard.png" alt="" class="getstarted " data-aos="fade-right">
            </div>
            <div class="imageDiv2 col-md-6">
                <div class="divInner">
                    <!-- <div class="leading">{{"GET STARTED" | translate}}</div> -->
                    <div class="theme-title">
                        <!-- <div class="upper-heading">{{"Why PAY.COOL"|translate}} ?</div> -->
                        <h3>{{"Join for free" | translate}}
                        </h3>
                    </div>
                    <p class="text">{{"Opportunities-content" | translate}}</p>
                    <ul class="button-group btnSub">
                        <li>
                            <a [routerLink]="['/user-tree']" routerLinkActive="router-link-active">{{"Join Now" |
                                translate}}</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row about-box">
            <div class="imageDiv2 col-md-6">
                <div class="divInner">
                    <!-- <div class="leading">GET STARTED</div> -->
                    <div class="theme-title">
                        <!-- <div class="upper-heading">{{"Why PAY.COOL"|translate}} ?</div> -->
                        <h3>{{"Title1"|translate}}
                            <span>{{"Title1-2"|translate}}</span> {{"Title1-3"|translate}}
                        </h3>
                    </div>
                    <p class="text">{{"Desc15"| translate}}</p>
                    <ul class="button-group ">
                        <li>
                            <a [routerLink]="['/user-tree']" routerLinkActive="router-link-active">{{"Join Now" |
                                translate}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <img src="/assets/images/img/Wallet.png" alt="Decentralized application" width="800px"
                        data-aos="fade-left" class="decImg2">
                </div>
            </div>
        </div>
    </div>

    <div class="row moredetail">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="decImg2" src="/assets/images/img/startupgrowth.png" alt="Decentralized application" data-aos="fade-left">
                </div>
                <div class="imageDiv2 col-md-6">
                    <div class="divInner">
                        <h2 class="title">{{"Title3"|translate}}</h2>
                        <p>{{"Desc31"|translate}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="imageDiv2 col-md-6">
                    <div class="divInner">
                        <h2 class="title">{{"Title4"|translate}}</h2>
                        <p>{{"Desc32"|translate}}</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/assets/images/img/team.png" alt="Team-work" width="800px" data-aos="fade-left">
                </div>
            </div>
        </div>
    </div>

    <div class="row our-features-three">
        <div class="container">
            <div class="theme-title text-center" data-aos="fade-up">
                <h2 class="blueTitle">{{"Title6" | translate}}</h2>
                <p class="text">{{"Desc21"| translate}}</p>
                <!--   <img src="/assets/images/banner-phone-app2.jpg" alt="" class="app-img"> -->
            </div>
        </div>
    </div>
    <br><br><br>

    <div class="row color-two apps-overview">
        <div class="container mt-8 text-center">
            <div class=" py-2">
                <h2 class="white">{{"mobile1"|translate}}</h2>
            </div>
            <div class="">
                <h3 class="white py-2">{{"mobile2"|translate}}</h3>
            </div>
            <div class="">
                <h3 class="white py-2">{{"mobile3"|translate}}</h3>
            </div>
            <div class="">
                <h4 class="white py-2">{{"mobile4"|translate}}</h4>
            </div>
            <div class="row inner-wrapper">
                <div class="col-md-3"></div>
                <div class="appleapp center mx-4 col-md-3">
                    <div class="py-3 mx-8">
                        <img class="qrImg" src="assets/images/paycool_apple.png" alt="Pay.cool iOS link">
                    </div>
                    <div class="py-3">
                        <ul class="button-group linkBtn">
                            <li>
                                <a href="https://apps.apple.com/us/app/pay-cool/id1636549193">
                                    <i class="flaticon-apple"></i> Apple Store
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="androidapp center mx-4 col-md-3">
                    
                    <div class="py-3 mx-8">
                        <img class="qrImg" src="assets/images/paycool_android.png" alt="Pay.cool Android link">
                    </div>
                    <div class="py-3">
                        <ul class="button-group linkBtn">
                            <li>
                                <a href="https://play.google.com/store/apps/details?id=cool.pay.paycool&hl=en_CA&gl=US">
                                    <img src="/assets/imagesBg/icon/playstore.png" width="80" alt=""> Google Play
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3"></div>        
            </div>
        </div>
    </div>

</div>