.container-fluid {
    background: #0f0e1c;
}

.img-fluid {
    width: 100%;
    height: auto;
    max-width: 700px;
    margin: 0 auto;
    z-index: 3;
}

.qrImg {
    // max-width: 200px;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border-radius: 0;
}

.centerImg img {
    margin: 0 auto;
}

.parentBlock {
    margin-bottom: 30px;
}

.singleBlock {
    margin-bottom: 30px;
    height: 100%;
    //drop shadow
    padding: 20px 30px;
    box-shadow: 0 0 20px #00000033, 0 0 60px #00000033, 0 0 70px #00000033;
}

.descBlock {
    color: #333333;

    span {
        font-size: 12px;
    }
}

.why-box {
    color: #fff;
    border-radius: 100%;
    width: 100%;
    padding: 30% 10px;
    height: 100%;

    h4 {
        font-size: 60px;
        font-weight: 200;
        margin-bottom: 20px;
        color: #ffffff;
    }

    .descBlock {
        color: #ffffff;
    }
}

.why-box-bg1 {
    background: #150874;
}

.why-box-bg2 {
    background: #392cf0;
}

.why-box-bg3 {
    background: #f2543f;
}


h1 {
    font-size: 4em;
    font-family: "Sora", "Microsoft YaHei", "微軟正黑體", "蘋果儷中黑", Helvetica, Arial, sans-serif;
}

h6 {
    font-size: 1.2em;
    font-weight: 200;
}

.joinBtn {
    padding-top: 50px;
    padding-bottom: 50px;
}

.lefttxt {
    padding-left: 8em;
    padding-right: 0em;
}

.homedesc {
    margin-top: 2em;
    margin-bottom: 3rem;
}

.blueTitle {
    color: #0a0073;
    // font-weight: bold;
}

.theme-banner-two {
    // background-image: url("/assets/images/img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    // margin : 100px 0 200px;
    margin-top: -120px;
    min-height: 90vh;

    .col-md-6 {
        //center align content
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.theme-banner-two .main-text-wrapper {
    padding: 80px 0 20px;
}

.button-group li a {
    // background-color: #1ed5f1;
    color: #000;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    min-width: 150px;
    font-weight: 800;
    text-align: center;
    //gradian background
    background: #1ed5f1;
    //smooth transition
    transition: all 0.3s ease-in-out 1s;
}

.button-group li a:hover {
    background: #1ed5f188;
}

.partner-slider {
    padding: 10px 0;
}

.partner-slider img {
    max-width: 130px;
    max-height: 30px;
    filter: brightness(0) invert(1);
}

.theme-title .text {
    color: #333;
}

.our-features-three {
    background: #ffffff;
    padding: 150px 0 20px;
    .app-img {
        margin: 0 auto;
    }
}

.why-use {
    background: #e9eef3;
    padding-bottom: 150px;

    .theme-title2 {
        padding-bottom: 80px;
        color: #0f0e1c;
    }
}

.color-two {
    background-color: #14172a;
}

.apps-overview.color-two {
    // background: #0c0d21;
    background-color: #14172a;
    // background: linear-gradient(135deg, rgb(0, 0, 0) 0%, rgb(4, 4, 49) 35%, rgb(25, 1, 59) 100%);
    margin-bottom: 0;
}

.inner-wrapper {
    margin-top: -80px;
}

.apps-overview .inner-wrapper .button-group li a {
    font-size: 16px;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

h6 {
    text-align: justify;
}

@media (max-width: 1600px) {
    .theme-banner-two .main-text-wrapper {
        padding: 160px 0 20px;
    }

    .lefttxt {
        padding-left: 6em;
    }

    h1 {
        font-size: 3.3em;
    }

    h2 {
        font-size: 2.5em;
    }
}

@media (max-width: 1200px) {
    .theme-banner-two .main-text-wrapper {
        padding: 120px 0 20px;
    }

    .partner-slider .item img {
        margin: 0 auto;
    }

    .lefttxt {
        padding-left: 4em;
    }

    .homedesc {
        margin-top: 2em;
        margin-bottom: 2rem;
    }
    
    h1 {
        font-size: 3em;
    }
}

@media (max-width: 900px) {
    .theme-banner-two .main-text-wrapper {
        padding: 60px 0 20px;
    }

    .theme-banner-two {
        // margin-top: -100px;
        p {
            font-size: 12px;
        }
    }

    .bannerCon {
        background: none;
    }

    .lefttxt {
        padding-left: 3em;
    }

    .homedesc {
        margin-top: 1.5em;
        margin-bottom: 1.5rem;
    }
    
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }
  
}

@media (max-width: 768px) {
    .theme-banner-two .main-text-wrapper {
        margin-top: 4em;
        padding: 20px 0 70px;
    }

    .downloadarea {
        display: none;
    }

    .about {
        // background-color: #eae8ff;
        position: relative;
    }

    .about-box {
        position: relative;
        max-width: 100% !important;
        margin-top: 80px;
    }

    .main-text-wrapper {
        // max-width: 50%;
        // text-align: left;
        // max-width: 62%;
        // margin: 0 auto;
        // height: 100vh;
        span {
            // font-size: 95px;
            text-transform: uppercase;
        }
    }

    .img-fluid {
        width: 75%;
        margin-top: -300px;
        margin-bottom: -100px;
    }

    .lefttxt {
        margin-top: 0em;
        padding-left: 0em;
    }

    .homedesc {
        margin-top: 1em;
        margin-bottom: 1rem;
    }

    h1 {
        font-size: 1.6em;
    }

    h2 {
        font-size: 1.4em;
    }

    h6{
        font-size: 1em;
        font-weight: 200;
    }

    .partner-slider img {
        max-width: 60px;
        max-height: 20px;
        filter: brightness(0) invert(1);
    }  
}

@media (max-width: 450px) {
    .theme-banner-two .main-text-wrapper {
        margin-top: 0em;
        padding: 0;
    }

    .downloadarea {
        display: none;
    }

    .about {
        // background-color: #eae8ff;
        position: relative;
    }

    .about-box {
        position: relative;
        max-width: 100% !important;
        margin-top: 80px;
    }

    .main-text-wrapper {
        // max-width: 50%;
        // text-align: left;
        // max-width: 62%;
        // margin: 0 auto;
        // height: 100vh;
        span {
            // font-size: 95px;
            text-transform: uppercase;
        }
    }

    .img-fluid {
        width: 75%;
        margin-top: -260px;
        margin-bottom: -260px;
    }

    .lefttxt {
        margin: 0;
        padding-left: 0em;
    }

    .homedesc {
        margin-top: 1em;
        margin-bottom: 1rem;
    }

    h1 {
        font-size: 1em;
    }

    h2 {
        font-size: 1em;
    }

    h6{
        font-size: 0.8em;
        font-weight: 100;
    }

    .partner-slider img {
        max-width: 60px;
        max-height: 20px;
        filter: brightness(0) invert(1);
    }  
}

@media (max-width: 380px) {
    .img-fluid {
        width: 75%;
        margin-top: -200px;
        margin-bottom: -260px;
    }

    .lefttxt {
        margin: 2em;
        padding-left: 0em;
    }

    h2 {
        font-size: 1em;
    }

    p {
        font-size: 0.8em;
        text-align: justify;
    }

}

.downloadapp {
 margin: 1rem;
}

.bgImg {
    background-image: url("/assets/images/math_and_inf.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.bgImg2 {
    background-image: url("/assets/images/team-city.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.qrcode {
    display: flex;
}

.qrcode div {
    margin: 2em 3em;
}

.iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    border: 1px solid gray;
    box-shadow: 6px 6px 3px gray;
}

.iframe-container iframe {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

h3 {
    color: white;
}

.flaticon-apple {
    color: #fff;
}

.linkBtn li a {
    margin: 0 auto;
    text-align: center;
    color: #333;
    background-color: #eee;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
    line-height: 14px;
    height: 60px;

    img{
        height: 20px;
        width: 20px;
    }

    i:before {
        color: #333;
    }
}

.about-box {
    background: #0f0e1c;
    padding-bottom: 150px;
    display: flex;

    .icon {
        padding-top: 50px;
        padding-bottom: 30px;
        img {
            text-align: center;
            margin: 0 auto;
        }
    }

    .cool-box {
        color: #fff;
    }

    h2 {
        color: #fff;
    }

    h4 {
        font-size: 20px;
        color: #fff;
    }

    .text {
        color: #fff;
    }

    .descBlock {
        color: #fff;
    }
}

.apps-overview{

    h2{
        font-size: 50px;
    }
}

.appDecs{
    padding-bottom: 150px;


    .blueTitle{
        padding-bottom: 30px;
    }
    .appRow{
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        margin: 0 auto;
        max-width: 1000px;
        padding: 10px 20px;
        text-align: left;

        img{
            margin-right: 5px;
        }
    }

    .descBlock{
        max-width: 90%;
    }

    .phone2Img{
        //vertical align middle;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        max-width: 1000px;
        padding: 10px 20px;
    }
    
}


.annun{
    text-align: center;
    margin: 0 auto;

    a{
        padding: 10px 36px;
    }
}