<div class="container-fluid">

    <!--    <div class="container"> -->
    <div class="row theme-banner-two">
        <div class="col-md-6">
            <div class="main-text-wrapper" data-aos="fade-right">
                <div class="lefttxt">
                    <div>
                        <h1><span>{{"homeTitle" | translate}}</span></h1>
                    </div>
                    <div class="homedesc">
                        <h6 style="color: white;">
                            {{"homeIntro"|translate}}
                        </h6>
                    </div>

                    <div class="downloadarea">
                        <div class="row">
                            <div class="downloadapp"><b>{{"Title31"|translate}}</b></div>
                        </div>
                        <div class="row">
                            <div class="appleapp col-md-4">
                                <div class="py-3 mx-8">
                                    <img class="qrImg" src="assets/images/paycool_apple.png" alt="Pay.cool iOS link">
                                </div>
                                <div class="py-3">
                                    <ul class="button-group linkBtn">
                                        <li>
                                            <a href="https://apps.apple.com/us/app/pay-cool/id1636549193">
                                                <i class="flaticon-apple"></i>
                                                <div>Apple Store</div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="androidapp center col-md-4">

                                <div class="py-3 mx-8">
                                    <img class="qrImg" src="assets/images/paycool_android.png"
                                        alt="Pay.cool Android link">
                                </div>
                                <div class="py-3">
                                    <ul class="button-group linkBtn">
                                        <li>
                                            <a
                                                href="https://play.google.com/store/apps/details?id=cool.pay.paycool&hl=en_CA&gl=US">
                                                <img src="/assets/imagesBg/icon/playstore.png" width="20" alt="">
                                                <div>Google Play</div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="androidapp center col-md-4">

                                <div class="py-3 mx-8">
                                    <img class="qrImg" src="assets/images/download.png" alt="Pay.cool Android link">
                                </div>
                                <div class="py-3">
                                    <ul class="button-group linkBtn">
                                        <li>
                                            <a routerLink="/download" target="_self">
                                                <div> APK</div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="main-text-wrapper center" data-aos="fade-right">
                <img src="/assets/images/pay-cool-phone.png" alt="banner" class="img-fluid">
            </div>
        </div>
    </div>

    <div class="row partner-slider">
        <div class="col-md-2 item">
            <a href="https://exchangily.com"><img src="/assets/images/logos/pureExLogo.png" alt=""></a>
        </div>
        <div class="col-md-2 item">
            <a href="https://fabcoin.org"><img src="/assets/images/logos/fab.png" alt=""></a>
        </div>
        <div class="col-md-2 item">
            <a href="https://ecombar.com"><img src="/assets/images/logos/ecombar-logo.png" alt=""></a>
        </div>
        <div class="col-md-2 item">
            <a href="https://iddock.com"><img src="/assets/images/logos/iddock-final.png" alt=""></a>
        </div>
        <div class="col-md-2 item">
            <a href="#"><img src="/assets/images/logos/kanban.png" alt=""></a>
        </div>
    </div>

    <div class="row our-features-three">
        <div class="container">
            <div class="theme-title text-center" data-aos="fade-up">
                <h2 class="blueTitle">{{"Title6" | translate}}</h2>
                <p class="text">{{"Desc21"| translate}}</p>
                <!--   <img src="/assets/images/banner-phone-app2.jpg" alt="" class="app-img"> -->
            </div>
        </div>
        <div class="container">
            <div class="row">

                <div class="col-md-4 parentBlock ">
                    <div class="singleBlock">
                        <div class="feature-box center centerImg" data-aos="fade-up">
                            <div class="icon">
                                <img src="/assets/images/img/web3-aukfa-inc-pay-cool.png" alt="">
                            </div>
                            <div class="content">
                                <h4>{{"Title311" | translate}}</h4>
                                <div class="descBlock">{{"Desc311"| translate}}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 parentBlock ">
                    <div class="singleBlock">
                        <div class="feature-box center centerImg" data-aos="fade-up">
                            <div class="icon">
                                <img src="/assets/images/img/autonomy.png" alt="">
                            </div>
                            <div class="content">
                                <h4>{{"Title312" | translate}}</h4>
                                <div class="descBlock">{{"Desc312"| translate}}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 parentBlock ">
                    <div class="singleBlock">
                        <div class="feature-box center centerImg" data-aos="fade-up">
                            <div class="icon">
                                <img src="/assets/images/img/paycool-consumerchant.jpg" alt="">
                            </div>
                            <div class="content">
                                <h4>{{"Title313" | translate}}</h4>
                                <div class="descBlock">{{"Desc313"| translate}}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 parentBlock ">
                    <div class="singleBlock">
                        <div class="feature-box center centerImg" data-aos="fade-up">
                            <div class="icon">
                                <img src="/assets/images/img/icon-01.png" alt="">
                            </div>
                            <div class="content">
                                <h4>{{"Title7" | translate}}</h4>
                                <div class="descBlock">{{"Desc22"| translate}}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 parentBlock">
                    <div class="singleBlock">
                        <div class="feature-box center centerImg" data-aos="fade-up">
                            <div class="icon">
                                <img src="/assets/images/img/icon-02.png" alt="">
                            </div>
                            <div class="content">
                                <h4>{{"Title8" | translate}}</h4>
                                <div class="descBlock">{{"Desc23"| translate}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 parentBlock">
                    <div class="singleBlock">
                        <div class="feature-box center centerImg" data-aos="fade-up">
                            <div class="icon">
                                <img src="/assets/images/img/icon-03.png" alt="">
                            </div>
                            <div class="content">
                                <h4>{{"Title9" | translate}}</h4>
                                <div class="descBlock">{{"Desc24"| translate}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 parentBlock">
                    <div class="singleBlock">
                        <div class="feature-box center centerImg" data-aos="fade-up">
                            <div class="icon">
                                <img src="/assets/images/img/icon-04.png" alt="">
                            </div>
                            <div class="content">
                                <h4>{{"Title10" | translate}}</h4>
                                <div class="descBlock">{{"Desc25"| translate}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 parentBlock">
                    <div class="singleBlock">
                        <div class="feature-box center centerImg" data-aos="fade-up">
                            <div class="icon">
                                <img src="/assets/images/img/icon-05.png" alt="">
                            </div>
                            <div class="content">
                                <h4>{{"Title11" | translate}}</h4>
                                <div class="descBlock">{{"Desc26"|
                                    translate}}<span>1sbUJMRMfFMTHopGkPgLfXahi4c1k61Cv</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 parentBlock">
                    <div class="singleBlock">
                        <div class="feature-box center centerImg" data-aos="fade-up">
                            <div class="icon">
                                <img src="/assets/images/img/icon-06.png" alt="">
                            </div>
                            <div class="content">
                                <h4>{{"Title12" | translate}}</h4>
                                <div class="descBlock">{{"Desc27"| translate}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row our-features-three why-use">
        <div class="container">
            <div class="theme-title2 text-center" data-aos="fade-up">
                <h2 class="blueTitle">{{"Title13" | translate}}</h2>
                <p class="text">{{"Desc21"| translate}}</p>
                <!--   <img src="/assets/images/banner-phone-app2.jpg" alt="" class="app-img"> -->
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="why-box why-box-bg1">
                        <div class="feature-box center centerImg" data-aos="fade-up">
                            <div class="content">
                                <h4>{{"Title14" | translate}}</h4>
                                <div class="descBlock">{{"Title15"| translate}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="why-box why-box-bg2">
                        <div class="feature-box center centerImg" data-aos="fade-up">
                            <div class="content">
                                <h4>{{"Title16" | translate}}</h4>
                                <div class="descBlock">{{"Title17"| translate}}</div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="why-box why-box-bg3">
                        <div class="feature-box center centerImg" data-aos="fade-up">
                            <div class="content">
                                <h4>{{"Title18" | translate}}</h4>
                                <div class="descBlock">{{"Title19"| translate}}</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row our-features-three about-box">
        <div class="container">
            <div class="theme-title2 text-center" data-aos="fade-up">
                <h2 class="blueTitle">{{"Title24" | translate}}</h2>
                <p class="text">{{"Desc34"| translate}}</p>

            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="icon">
                        <img src="/assets/images/img/icon2-01.png" alt="">
                    </div>
                    <div class="cool-box cool-box-bg4">
                        <div class="feature-box center centerImg" data-aos="fade-up">
                            <div class="content">
                                <h4>{{"Step 1" | translate}}</h4>
                                <div class="descBlock">{{"Step 1 Desc"| translate}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="icon">
                        <img src="/assets/images/img/icon2-02.png" alt="">
                    </div>
                    <div class="cool-box cool-box-bg5">
                        <div class="feature-box center centerImg" data-aos="fade-up">
                            <div class="content">
                                <h4>{{"Step 2" | translate}}</h4>
                                <div class="descBlock">{{"Step 2 Desc"| translate}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="icon">
                        <img src="/assets/images/img/icon2-03.png" alt="">
                    </div>
                    <div class="cool-box cool-box-bg6">
                        <div class="feature-box center centerImg" data-aos="fade-up">
                            <div class="content">
                                <h4>{{"Step 3" | translate}}</h4>
                                <div class="descBlock">{{"Step 3 Desc"| translate}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="icon">
                        <img src="/assets/images/img/icon2-04.png" alt="">
                    </div>
                    <div class="cool-box cool-box-bg7">
                        <div class="feature-box center centerImg" data-aos="fade-up">
                            <div class="content">
                                <h4>{{"Step 4" | translate}}</h4>
                                <div class="descBlock">{{"Step 4 Desc"| translate}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row our-features-three">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!-- image -->
                    <div class="imagepp">
                        <img src="/assets/images/img/phone.png" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="theme-title2 text-center" data-aos="fade-up">
                        <h2 class="blueTitle">{{"Title25" | translate}}</h2>
                        <div class="row appRow">
                            <img src="/assets/images/img/check.png" alt="">
                            <div class="descBlock">{{"Title26"| translate}}</div>
                        </div>
                        <div class="row appRow">
                            <img src="/assets/images/img/check.png" alt="">
                            <div class="descBlock">{{"Title27"| translate}}</div>
                        </div>
                        <div class="row appRow">
                            <img src="/assets/images/img/check.png" alt="">
                            <div class="descBlock">{{"Title28"| translate}}</div>
                        </div>
                        <div class="row appRow">
                            <img src="/assets/images/img/check.png" alt="">
                            <div class="descBlock">{{"Title29"| translate}}</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row color-two apps-overview" id="downloadapp">
        <div class="container mt-8 text-center">
            <div class="row inner-wrapper">
                <div class="col-md-6">
                    <div class="py-2">
                        <h2 class="white">{{"Title30"|translate}}</h2>
                        <div class="">{{"Title31"| translate}}</div>
                    </div>
                    <div class="row">
                        <div class="appleapp  col-md-4">
                            <div class="py-3 mx-8">
                                <img class="qrImg" src="assets/images/paycool_apple.png" alt="Pay.cool iOS link">
                            </div>
                            <div class="py-3">
                                <ul class="button-group linkBtn">
                                    <li>
                                        <a href="https://apps.apple.com/us/app/pay-cool/id6477788800">
                                            <i class="flaticon-apple"></i> Apple Store
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="androidapp center col-md-4">

                            <div class="py-3 mx-8">
                                <img class="qrImg" src="assets/images/paycool_android.png" alt="Pay.cool Android link">
                            </div>
                            <div class="py-3">
                                <ul class="button-group linkBtn">
                                    <li>
                                        <a
                                            href="https://play.google.com/store/apps/details?id=cool.pay.paycoolv3&hl=en">
                                            <img src="/assets/imagesBg/icon/playstore.png" width="80" alt=""> Google
                                            Play
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="androidapp center col-md-4">

                            <div class="py-3 mx-8">
                                <img class="qrImg" src="assets/images/download.png" alt="Pay.cool Android link">
                            </div>
                            <div class="py-3">
                                <ul class="button-group linkBtn">
                                    <li>
                                        <a routerLink="/download" target="_self">
                                            APK
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div class="image phone2Img">
                        <img src="/assets/images/img/phone2.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>