<div class="mainpage">
    <div class="menu row">
        <div class="col-md-2">
            <a routerLink="/animation/payment-flow" routerLinkActive="active">Payment Flow</a>
        </div>
        <div class="col-md-2">
            <a routerLink="/animation/merchant-anim" routerLinkActive="active">Merchant</a>
        </div>
        <div class="col-md-2">
            <a routerLink="/animation/consumer" routerLinkActive="active">Consumer</a>
        </div>
        <div class="col-md-2">
            <a routerLink="/animation/refer" routerLinkActive="active">Refer</a>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>