

<div class="container">

    <div>
        <a (click)="add()">
          <img src="/assets/svg/add.svg">
        </a>
      </div>
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-6">{{'Merchant ID' | translate}}</div>
        <div class="col col-3">{{'Coin' | translate}}</div>
        <div class="col col-3">{{'Value' | translate}}</div>
      </li>
      <li class="table-row" *ngFor="let item of merchant_credit_list">
        <div class="col col-6" data-label="Merchant">{{showId(item.id)}}</div>
        <div class="col col-3" data-label="Coin">{{getCoinName(item.coinType)}}</div>
        <div class="col col-3" data-label="Value">{{item.value}}</div>
      </li>
    </ul>
</div>