
.userTreeMain {
    background-color: white;
    padding-top: 2rem;
}
.title {
    color: red;
}

.tf-tree {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

span.tf-nc {
    background: #f5f5f5;
}

.link {
    color: blue;
}

label {
    margin-right: 1em;
}

.wrapper-center {
    display: flex;
    justify-content: center;
}

.inputfiled {
    border-radius: 5px;
}

input {
    width: 320px;
    font-size: small;
}

.aa {
    border: 1px solid red;
}



a.link {
    cursor: pointer;
    text-decoration: underline;
    color: #1ed5f1;
}

a.link:not([href]):not([tabindex]) {
    color: #1ed5f1;
    text-decoration: underline;
}


.memberArea {
    background-color: #1c1c31;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    
}


.refArea {
    background-color: #1c1c31;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    color: #fff;

    h5{
        font-size: 30px;
        font-weight: 800;
        margin-bottom: -2px;
        color: #7168d9;
    }
}
