<div *ngIf="merchant">
    <div class="container">
        <div class="text-right py-2">
            <button class="btn signinbtn" (click)="enableCredit()">{{('Enable Credit') | translate}}</button>
            <button class="btn signinbtn" (click)="approve()">{{('Approve') | translate}}</button>
        </div>

        <div>
            <label for="owner"><b>{{'Node id' | translate}}:</b></label> 
            <input type="text" placeholder="Enter node id" [(ngModel)]="nodeId" name="nodeId" required>
        </div>
        <div *ngIf="merchant.name">
            <label for="name"><b>{{'Name' | translate}}:</b></label> {{showName(merchant.name)}}
        </div>
        <div>
            <label for="owner"><b>{{'Owner' | translate}}:</b></label> {{merchant.owner}}
        </div>
        <div *ngIf="merchant.id">
            <label for="address"><b>{{'ID' | translate}}:</b></label> {{merchant.id}}
        </div>
        <div *ngIf="merchant.address">
            <label for="address"><b>{{'Address' | translate}}:</b></label> {{showName(merchant.businessAddress)}}
        </div>
        <div *ngIf="merchant.contactName">

            <label for="email"><b>{{'Contact name' | translate}}:</b></label> {{showName(merchant.contactName)}}
        </div>

        <div *ngIf="merchant.businessContents">
            <div>
                <label for="email"><b>{{'Business contents' | translate}}:</b></label> {{showName(merchant.businessContents)}}
            </div>
        </div>



        <div>
            <div>
                <label for="email"><b>{{'Phone' | translate}}:</b></label> {{merchant.phone}}
            </div>
            <div>
                <label for="email"><b>{{'Fax' | translate}}:</b></label> {{merchant.fax}}
            </div>
            <div>
                <label for="email"><b>{{'Email' | translate}}:</b></label> {{merchant.email}}
            </div>
            <div>
                <label for="email"><b>{{'Website' | translate}}:</b></label> {{merchant.website}}
            </div>
            <div>
                <label for="email"><b>{{'Open time' | translate}}:</b></label> {{merchant.openTime}}
            </div>
            <div>
                <label for="email"><b>{{'Close time' | translate}}:</b></label> {{merchant.closeTime}}
            </div>
        </div>

        <div>
            <label for="email"><b>{{'Ref address' | translate}}:</b></label> {{merchant.referral}}
        </div>

        <div>
            <label for="email"><b>{{'Business primary coin' | translate}}:</b></label> {{merchant.coin}}
        </div>

        <div>
            <label for="email"><b>{{'Reward coin' | translate}}:</b></label> {{merchant.rewardCoin}}
        </div>

        <div>
            <label for="email"><b>{{'Rebate rate' | translate}}:</b></label> {{merchant.rebateRate}}%
        </div>

        <div>
            <label for="email"><b>{{'Tax rate' | translate}}:</b></label> {{merchant.taxRate}}%
        </div>

        <div>
            <label for="email"><b>{{'Locked days' | translate}}:</b></label> {{merchant.lockedDays}}
        </div>
        <div>
            <label for="email"><b>{{'NodeId' | translate}}:</b></label> {{merchant.merchantNodeId}}
        </div>
    </div>
</div>