<div class="container-fluid merchant-home">
    <div class="container banner">
        <div class="row ">
            <div class="col-md-12 center ">
                <h2 class="mb-5">
                    {{ "merHomeTitle1" | translate }}
                    <span class="blueTxt">
                        {{ "merHomeTitle2" | translate }}
                    </span>
                    {{ "merHomeTitle3" | translate }}
                </h2>
                <!-- text -->
                <div class="descTxt mb-5">
                    {{ "merHomeDesc" | translate }}
                </div>
                <!-- 2 btsn -->
                <div class="bannerBtn">
                    <a href="https://www.youtube.com/channel/UCZ0Z1QZ1X5Z8Z5Z6Z7Z8Z9" target="_blank">
                        <button class="btn btn-primary  btn-block">
                            <span>{{ "merHomeBtn1" | translate}}</span>
                        </button>
                    </a>
                    <a href="https://www.youtube.com/channel/UCZ0Z1QZ1X5Z8Z5Z6Z7Z8Z9" target="_blank">
                        <button class="btn btn-outline-primary  btn-block">
                            <span>{{ "merHomeBtn2" | translate}}</span>
                        </button>
                    </a>

                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid logos">
        <div class="row">
            <div class="col-md-2 oneLogo">
                <img src="assets/images/logos/logo-exchangily.png" alt="">
            </div>
            <div class="col-md-2 oneLogo">
                <img src="assets/images/logos/biswap.png" alt="">
            </div>
            <div class="col-md-2 oneLogo">
                <img src="assets/images/logos/logo3.png" alt="">
            </div>
            <div class="col-md-2 oneLogo">
                <img src="assets/images/logos/logo4.png" alt="">
            </div>
            <div class="col-md-2 oneLogo">
                <img src="assets/images/logos/logo6.png" alt="">
            </div>
            <div class="col-md-2 oneLogo">
                <img src="assets/images/logos/logo7.png" alt="">
            </div>
        </div>
    </div>
    <div class="container whyUs">
        <div class="row mb-5">
            <div class="col-md-12 center ">
                <h2>
                    {{ "merWhyUs" | translate }}
                </h2>
            </div>

        </div>
        <div class="row ">
            <div class="col-md-3">
                <div class="oneWhyUs">
                    <div class="icon mb-3">
                        <img src="assets/images/icon/security.png" alt="">
                    </div>
                    <div class="desc">
                        <h3 class="mb-2">{{ "merWhyUs1" | translate }}</h3>
                        <p classs="mb-5">{{ "merWhyUs1Desc" | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="oneWhyUs">
                    <div class="icon mb-3">
                        <img src="assets/images/icon/low-price.png" alt="">
                    </div>
                    <div class="desc">
                        <h3 class="mb-2">{{ "merWhyUs2" | translate }}</h3>
                        <p classs="mb-5">{{ "merWhyUs2Desc" | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="oneWhyUs">
                    <div class="icon mb-3">
                        <img src="assets/images/icon/exchange-rate.png" alt="">
                    </div>
                    <div class="desc">
                        <h3 class="mb-2">{{ "merWhyUs3" | translate }}</h3>
                        <p classs="mb-5">{{ "merWhyUs3Desc" | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="oneWhyUs">
                    <div class="icon mb-3">
                        <img src="assets/images/icon/customer.png" alt="">
                    </div>
                    <div class="desc">
                        <h3 class="mb-2">{{ "merWhyUs4" | translate }}</h3>
                        <p classs="mb-5">{{ "merWhyUs4Desc" | translate }}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container casher">
        <div class="row pb-5">
            <div class="col-md-5 casherTxt">
                <div class="casherList">
                    <i class="fa fa-check"></i>
                    <span>{{ "merCasherIntro1" | translate }}</span>
                </div>
                <div class="casherList">
                    <i class="fa fa-check"></i>
                    <span>{{ "merCasherIntro2" | translate }}</span>
                </div>
                <div class="casherList">
                    <i class="fa fa-check"></i>
                    <span>{{ "merCasherIntro3" | translate }}</span>
                </div>
                <div class="casherList">
                    <i class="fa fa-check"></i>
                    <span>{{ "merCasherIntro4" | translate }}</span>
                </div>
                <!-- share icon -->
                <div class="shareIcon">
                    <a href="/cashier/setup" target="_blank">
                        <span>{{ "merCasherLink" | translate}}</span>
                    <i class="fa fa-share"></i>
                    </a>
                </div>
                <div class="casherDesc">
                    <p>{{ "merCasherLinkDesc" | translate }}</p>
                </div>
            </div>
            <div class="col-md-7">
                <!-- image -->
                <div class="img">
                    <img src="assets/images/img/casher.png" alt="">
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid ng-light-blue">
        <div class="container banner how">
            <div class="row ">
                <div class="col-md-12 center ">
                    <h2 class="mb-5">
                        {{ "merHow" | translate }}
                    </h2>

                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="oneBanner">
                        <div class="iconNum">
                            1
                        </div>
                        <div class="desc">
                            <h3 class="mb-2">{{ "merHow1" | translate }}</h3>
                            <p classs="mb-5">{{ "merHow1Desc" | translate }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="oneBanner">
                        <div class="iconNum">
                            2
                        </div>
                        <div class="desc">
                            <h3 class="mb-2">{{ "merHow2" | translate }}</h3>
                            <p classs="mb-5">{{ "merHow2Desc" | translate }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="oneBanner">
                        <div class="iconNum">
                            3
                        </div>
                        <div class="desc">
                            <h3 class="mb-2">{{ "merHow3" | translate }}</h3>
                            <p classs="mb-5">{{ "merHow3Desc" | translate }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container accept">
        <div class="row banner">
            <div class="col-md-6 ">
                <h2 class="mb-5">
                    {{ "merAccept" | translate }}
                </h2>
                <!-- text -->
                <div class="descTxt mb-5">
                    {{ "merAcceptDesc" | translate }}
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid logos who">
        <div class="container  banner center">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="mb-5">
                        {{ "merWho" | translate }}
                    </h2>
                </div>
                <div class="col-md-2 oneLogo">
                    <img src="assets/images/logos/Lotto_649_logo.png" alt="">
                </div>
                <div class="col-md-2 oneLogo">
                    <img src="assets/images/logos/Image6.png" alt="">
                </div>
                <div class="col-md-2 oneLogo">
                    <img src="assets/images/logos/Image7.png" alt="">
                </div>
                <div class="col-md-2 oneLogo">
                    <img src="assets/images/logos/Image8.png" alt="">
                </div>
                <div class="col-md-2 oneLogo">
                    <img src="assets/images/logos/Image9.png" alt="">
                </div>
                <div class="col-md-2 oneLogo">
                    <img src="assets/images/logos/Image10.png" alt="">
                </div>
                <div class="col-md-12 center ">
                    <div class="shareIcon center mt-5">
                        <span>{{ "merWholink" | translate}}</span>
                        <i class="fa fa-share"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container banner">
        <div class="row ">
            <div class="col-md-12 center ">
                <h2 class="mb-5">
                    {{ "merReady" | translate }}
                </h2>
                <!-- text -->
                <div class="descTxt mb-5">
                    {{ "merReadyDesc" | translate }}
                </div>
                <!-- 2 btsn -->
                <div class="bannerBtn">
                    <a href="https://www.youtube.com/channel/UCZ0Z1QZ1X5Z8Z5Z6Z7Z8Z9" target="_blank">
                        <button class="btn btn-primary  btn-block">
                            <span>{{ "merHomeBtn1" | translate}}</span>
                        </button>
                    </a>
                    <a href="https://www.youtube.com/channel/UCZ0Z1QZ1X5Z8Z5Z6Z7Z8Z9" target="_blank">
                        <button class="btn btn-outline-primary  btn-block">
                            <span>{{ "merHomeBtn2" | translate}}</span>
                        </button>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>