<div class="container">
    <div class="mainpanel">
        <!--
        <nav class="navbar navbar-expand-md navbar-dark">

            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" [class.selected]="selected === 0" (click)="selected = 0;" href="/my-assets">{{"My DEFI Assets" | translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/my-assets/my-orders">{{"My Orders" | translate}}</a>
                </li>
            </ul>

        </nav>
    -->
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>