<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link hand-cursor" aria-current="page" [ngClass]="(tabName=='settings')?'active' : ''" (click)="changeTabName('settings')">Settings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link hand-cursor" aria-current="page" [ngClass]="(tabName=='packages')?'active' : ''" (click)="changeTabName('packages')">Packages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link hand-cursor" aria-current="page" [ngClass]="(tabName=='lplockers')?'active' : ''" (click)="changeTabName('lplockers')">Lp Lockers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link hand-cursor" aria-current="page" [ngClass]="(tabName=='payments')?'active' : ''" (click)="changeTabName('payments')">Payments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link hand-cursor" aria-current="page" [ngClass]="(tabName=='merchant-payments')?'active' : ''" (click)="changeTabName('merchant-payments')">Merchant Payments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link hand-cursor" [ngClass]="(tabName=='rewards')?'active' : ''" (click)="changeTabName('rewards')">Rewards</a>
        </li>
        <li class="nav-item">
            <a class="nav-link hand-cursor" [ngClass]="(tabName=='lockers')?'active' : ''" (click)="changeTabName('lockers')">Lockers</a>
        </li>
    </ul>
    <div *ngIf="tabName=='settings'">
        <app-settings></app-settings>
    </div>
    <div *ngIf="tabName=='packages'">
        <app-packages></app-packages>
    </div>
    <div *ngIf="tabName=='lplockers'">
        <app-lplockers></app-lplockers>
    </div>
    <div *ngIf="tabName=='payments'">
        <app-payments></app-payments>
    </div>
    <div *ngIf="tabName=='merchant-payments'">
        <app-merchant-payments></app-merchant-payments>
    </div>
    <div *ngIf="tabName=='rewards'">
        <app-rewards></app-rewards>
    </div>
    <div *ngIf="tabName=='lockers'">
        <app-lockers></app-lockers>
    </div>
</div>