<div class="row" *ngIf="multisigwallet">
    <div class="col col-md-8 col-12">
        <app-new-transaction *ngIf="step == 1" [balance]="balance" (onSubmit)="next($event)" [nonce]="nonce"></app-new-transaction>
        <app-confirm-transaction *ngIf="step == 2" [nonce]="nonce" [to]="to" [amount]="amount" (onSign)="sign()" (onAction)="action($event)"></app-confirm-transaction>
    </div>
    <div class="col col-md-4 col-12">
        <app-transaction-status></app-transaction-status>
    </div>
</div>