<div class="container">
    <h2 class="py-2 text-center">{{(id ? 'Merchant Information' : 'New Merchant Registration') | translate}}</h2>

    <div class="form-group row" *ngIf="id">
        <div class="col-sm-2">{{'Store ID' | translate}}</div>
        <div class="col-sm-10">
            {{id}}
        </div>
    </div>
    <div class="form-group row" *ngIf="id">
        <a href="/merchants/merchant-credit">{{'Merchant credit' | translate}}</a>
    </div>

    <div class="form-group row" *ngIf="id">
        <label for="staticEmail" class="col-sm-2">
            <a (click)="showToken()">{{'Show token'|translate}}</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a *ngIf="token" (click)="copyToken()">{{'Copy' | translate}}</a>
        </label>
        <div class="col-sm-10" style="word-break:break-all; word-wrap:break-all;" *ngIf="token">
            {{token}}
        </div>
    </div>

    <div class="form-group row" *ngIf="id">
        <a href="https://cashier.7starpay.com" target="_blank">{{'Merhant cashier' | translate}}</a>
    </div>

    <hr>

    <div class="d-flex align-items-center navigate-bar my-3">
        <div class="py-3 cursor-pointer" [class.selected]="currentTab==='EN'" (click)="changeTab('EN')">
            {{'English Contents'|translate}}
        </div>
        <div class="px-3 py-3 cursor-pointer" [class.selected]="currentTab==='SC'" (click)="changeTab('SC')">
            {{'Simplified Chinese Contents'|translate}}
        </div>
    </div>

    <div *ngIf="currentTab=='EN'">

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{"Merchant name"|translate}}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control small" placeholder="{{'Enter name' | translate}}" [(ngModel)]="name" name="name" id="name" required>
            </div>
        </div>        

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{"Merchant logo"|translate}}</label>
            <div class="col-sm-10">
                <app-admin-upload-media class="ml-4" id="logo" [(images)]="images" [singleFile]="true"></app-admin-upload-media>
            </div>
        </div>   

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{"Address"|translate}}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control small" placeholder="{{'Enter address' | translate}}" [(ngModel)]="address" name="address" id="address" required>
            </div>
        </div>  

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{"Contact Name"|translate}}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control small" placeholder="{{'Enter contact name' | translate}}" [(ngModel)]="contactName" name="contactName" id="contactname" required>
            </div>
        </div>  

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{"Phone"|translate}}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control small" placeholder="{{'Enter phone' | translate}}" [(ngModel)]="phone" name="phone" id="phone" required>
            </div>
        </div>  

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{"Fax"|translate}}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control small" placeholder="{{'Enter fax' | translate}}" [(ngModel)]="fax" name="fax" id="fax">
            </div>
        </div>  

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{"Email"|translate}}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control small" placeholder="{{'Enter email' | translate}}" [(ngModel)]="email" name="email" id="email">
            </div>
        </div>  

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{"Website"|translate}}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control small" placeholder="{{'Enter website' | translate}}" [(ngModel)]="website" name="website" id="website">
            </div>
        </div>  

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{"Open time"|translate}}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control small" placeholder="{{'Enter open time' | translate}}" [(ngModel)]="openTime" name="openTime" id="openTime">
            </div>
        </div>  

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{"Close time"|translate}}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control small" placeholder="{{'Enter close time' | translate}}" [(ngModel)]="closeTime" name="closeTime" id="closeTime">
            </div>
        </div> 

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{"Business contents"|translate}}</label>
            <div class="col-sm-10">
                <textarea type="text" class="form-control small" placeholder="{{'Enter business contents' | translate}}" [(ngModel)]="businessContents" name="businessContents" id="bizcontact">
                </textarea>            
            </div>
        </div> 

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{'Rebate rate' | translate}}(%) *</label>
            <div class="col-sm-10">
                <input type="text" class="form-control small" placeholder="{{'Rebate rate' | translate}}" [(ngModel)]="giveAwayRate" name="rebateRate" id="rebaterate" required>          
            </div>
        </div> 

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{"Business primary coin"|translate}} *</label>
            <div class="col-sm-10">
                <select [(ngModel)]="coin" name="coin" class="custom-select" aria-label=".form-select-lg example">
                    <option value="">{{"Select coin"|translate}}:</option>
                    <option *ngFor="let coin of coins" value="{{coin}}">{{coin}}</option>
                </select>            
            </div>
        </div> 

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{'Tax rate' | translate}}(%) *</label>
            <div class="col-sm-10">
                <input type="text" class="form-control small" placeholder="{{'Tax rate' | translate}}" [(ngModel)]="taxRate" name="taxRate" id="taxrate" required>            
            </div>
        </div> 

        <div class="form-group row" *ngIf="feeChargerSmartContractAddress">
            <label class="col-sm-2 col-form-label">{{'FeeCharger Smart contract address' | translate}}(%) *</label>
            <label class="col-sm-10 col-form-label">
                {{feeChargerSmartContractAddress}}            
            </label>
        </div> 

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{'Locked days' | translate}}(%) *</label>
            <div class="col-sm-10">
                <select [(ngModel)]="lockedDays" name="lockedDays" class="custom-select" aria-label=".form-select-lg example">
                    <option value="">{{"Locked days"|translate}}:</option>
                    <option value="90">90</option>
                    <option value="366">366</option>
                </select>
            </div>
        </div> 

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{"Merchant's referral address" | translate}}(%) *</label>
            <div class="col-sm-10">
                <input *ngIf="!id" type="text" class="form-control small" placeholder="{{'ref address' | translate}}" [(ngModel)]="refAddress" name="refAddress" name="refaddress" required>            
                <label *ngIf="id" class="col-sm-10 col-form-label">
                    {{refAddress}}           
                </label>
            </div>
        </div> 

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" [(ngModel)]="hideOnStore">
                <label class="form-check-label" for="flexCheckChecked">
          {{'Hide on Madearn.com' | translate}}
        </label>
            </div>
        </div>

        <div *ngIf="currentTab=='SC'">

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">名称</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control small" placeholder="输入名称" [(ngModel)]="nameChinese" name="nameChinese" id="nameChinese">
                </div>
            </div>  

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">地址</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control small" placeholder="输入地址" [(ngModel)]="addressChinese" name="addressChinese" id="addressChinese">
                </div>
            </div>  

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">联系人</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control small" placeholder="输入联系人" [(ngModel)]="contactNameChinese" name="contactNameChinese" id="contactnameChinase">
                </div>
            </div>  

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">业务内容</label>
                <div class="col-sm-10">
                    <textarea type="text" class="form-control small" placeholder="输入业务内容" [(ngModel)]="businessContentsChinese" name="businessContentsChinese" id="businesscontactChinse">
                    </textarea>
                </div>
            </div>  

        </div>

        <div class="text-right py-2 mb-4">
            <button type="submit" class="btn btn-primary">{{(id?'Update':'Create') | translate}}</button>
        </div>
</div>
