.selected {
    font-weight: bold;
}

.coinselect {
    margin-top: -0.5em;
    font-size: small;
    height: 40px;
}

a:hover {
    cursor: pointer;
    color: #0056b3!important;
}

.cursor-pointer {
    cursor: pointer;
}