<div class="modal-header">
    <h4 class="modal-title pull-left">{{'Password' | translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="input-group input-group-pill my-3">
        <input type="password" class="form-control border-1 height-40" placeholder="{{'Password' | translate}}" [(ngModel)]="password" name="password" required>
    </div>
</div>

<div class="modal-footer">

    <div class="CreateCollection--actions">
        <div class="ActionButtonrContainer">
            <div class="ActionButton--content text-center py-3 border" (click)="confirmPassword()" style="min-width: 120px;">
                {{'Confirm' | translate}}
            </div>
        </div> 
    </div>
 
</div>