<div class="pb-2">
    Create new Account
</div>
<div class="container">
    <div class="row">
        <div class="col col-md-8 col-12">
            <div class="card left p-3">
                <div class="review">
                    <h4>Review</h4>
                    <div>You're about to create a new Account and will have to confirm the transaction with your connected wallet.</div>    
                </div>

                <div class="form-group row my-2">
                    <label class="col-sm-3 text-muted">Network</label>
                    <div class="col-sm-9">
                        {{chain}}
                    </div>
                </div>

                <div class="form-group row my-2">
                    <label class="col-sm-3 text-muted">Name</label>
                    <div class="col-sm-9">
                        {{name}}
                    </div>
                </div>

                <div class="form-group row my-2">
                    <label class="col-sm-3 text-muted">Owners</label>
                    <div class="col-sm-9">
                        <div *ngFor="let owner of owners" class="py-1">
                            <div>{{owner.name}}</div>
                            <div>{{owner.address}}</div>
                        </div>
                    </div>
                </div>

                <div class="form-group row my-2">
                    <label class="col-sm-3 text-muted">Threshold</label>
                    <div class="col-sm-9">
                        {{confirmations}} out of {{owners.length}}
                    </div>
                </div>

                <div class="form-group row my-2">
                    <label class="col-sm-3 text-muted">Est. network fee</label>
                    <div class="col-sm-9">
                        {{fee()}} {{chain}}
                    </div>
                </div>

                <div class="d-flex justify-content-between m-3">
                    <div>
                        <button type="button" class="btn btn-outline-secondary" (click)="back()">Back</button>
                    </div>
                    <div><button type="button" class="btn btn-primary" (click)="next()">Next</button></div>
                </div>
            </div>
        </div>
        <div class="col col-md-4 col-12">
            <div class="card right p-3">
                <div>Account creation</div>
                <div>Wait for the creation</div>
                <div>Depending on network usage, it can take some time until the transaction is successfully added to the blockchain and picked up by our services.</div>
            </div>
        </div>
    </div>
</div>
