<div class="pb-2">Confirm transaction</div>
<div class="card p-3">
    <div class="d-flex justify-content-between align-items-center border-bottom pb-3">
        <div>Send tokens</div>
        <div class="d-flex align-items-center">
            <span class="mx-2">Nonce: </span>
            <span>{{nonce}}</span>
        </div>
    </div>

    <div class="form-group mt-3">
        <label for="exampleInputEmail1">Recipient address: </label>
        <span>{{to}}</span>
    </div>

    <div class="form-group mt-3 pb-3 border-bottom">
        <label for="exampleInputEmail1">Amount: </label>
        <span>{{amount}}</span>
    </div>

    <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-dark" (click)="back()">Back</button>
        <button type="button" class="btn btn-dark" (click)="sign()">Sign</button>
    </div>
</div>