<div style="border:1px solid #ccc">
    <div class="container">
      <h1>{{'Add user node link' | translate}}</h1>
      <hr>

        <label for="email"><b>{{'User' | translate}}</b></label>
        <input type="text" placeholder="Enter user" [(ngModel)]="user" name="user" required>

        <div>
            <label for="email"><b>{{'User Node id' | translate}}</b></label>
            <input type="number" placeholder="Enter user node id" [(ngModel)]="userNodeId" name="userNodeId" required>
    
        </div>

        <div class="text-right py-2">
            <button class="btn signinbtn" (click)="confirm()">{{('Confirm') | translate}}</button>
        </div>
    </div>
</div>


