<div class="container">
    <H3>Jobs & Businesses Opprotunities</H3>
    <br><br>
    <b>Jobs</b>
    <p>
        <b>Senior Flutter / Dart mobile apps developpers wanted.</b>
        <br>
        <b>Description</b>
        <br>
            1. 3+ years mobile applications development experience; <br>
            2. 2+ years Flutter / Dart hybrid app development experiences;<br>
            3. Team worker with good communication in English;<br>
            4. Legal work in the United States or El Salvador.<br>
        <br>
        Qualified candidates please send resume to hr@pay.cool
    </p>
    
    <b>Business Opportunity</b>
    <p>
        <b>Business owners / referrers wanted</b>
        <br>
         Pay.cool is a multi-level referral rewards payment system, refer comsumers to join as member for free, you can build your business network.
        <br>
    </p>

    <br><br><br>
</div>