
<div class="container text-white">

    <div class="d-flex justify-content-around my-3">
        <input type="file" class="upload" #file style="display:none" (change)="changeListenerEvent($event)">
        <button class="btn button btn-outline btn-basic-outline" (click)="file.click()">{{'Import CSV' | translate}}</button>
    </div>

    <div class="d-flex justify-content-around">
        <button class="btn button btn-outline btn-basic-outline" (click)="recalculateRewards()">{{'Recalculate rewards' | translate}}</button>
    </div>

    
    <form>
        <div class="form-group">
          <label for="exampleInputEmail1">User</label>
          <input type="text" class="form-control" [(ngModel)]="user" name="user" aria-describedby="userHelp" placeholder="Enter user address">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Amount(DUSD)</label>
          <input type="number" class="form-control" [(ngModel)]="amount" name="amount" placeholder="amount">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Liquidity</label>
            <input type="number" class="form-control" [(ngModel)]="liquidity" name="liquidity" placeholder="Liquidity">
          </div>
        <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
    </form>    
    
    <app-ipolist></app-ipolist>
</div>