<div class="outbox">
    <div class="main">
        <svg class="svgmain" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 920">
<style type="text/css">
    .merchants {
        font-size: 34px;
    }

    .hiddenitem {
        display: none;
    }
    
    @media (max-width: 768px) {
        .merchants {
            font-size: 20px;
        }
    }
</style>
            <!--Merchant-->
            <g class="merchants">
            <g id="merchant" class="merchant" transform="translate(210,0)" fill="white">
                <path d="M341.4,153.2h0l-11-30.7c-.5-1.3-1.2-2.4-2.1-3.4-1.2-1.2-3-2.5-5.2-2.5h-70.8c-1.9,0-3.4.8-4.5,1.7-1.3,1-2.2,2.5-2.8,4l-11,30.8h0c0,.4,0,.8,0,1.1,0,10.7,8.7,19.4,19.4,19.4s12.8-3.5,16.3-8.8c.4-.6,1.3-.6,1.7,0,3.5,5.3,9.5,8.8,16.3,8.8s12.8-3.5,16.3-8.8c.4-.6,1.3-.6,1.7,0,3.5,5.3,9.5,8.8,16.3,8.8,10.7,0,19.4-8.7,19.4-19.4,0-.4-.1-.8-.1-1.1Z"/>
                <path d="M331,176.5c-2.7,1.1-5.7,1.7-8.9,1.7-6.4,0-12.2-2.5-16.5-6.6-.2-.2-.4-.3-.6-.3s-.5,0-.6.3c-4.3,4.1-10.1,6.6-16.5,6.6s-12.2-2.5-16.5-6.6c-.2-.2-.4-.3-.6-.3s-.5,0-.6.3c-4.3,4.1-10.1,6.6-16.5,6.6s-6.1-.6-8.9-1.7c-.7-.3-1.4.2-1.4,1v32.7c0,6.7,6.9,6.9,6.9,6.9h75.4s6.9,0,6.9-9.1v-30.5c0-.7-.7-1.2-1.4-1Z"/>
            </g>
            <text x="485" y="156" fill="black">A</text>

            <use xlink:href="#merchant" x="-400" y="600" />
            <text x="85" y="760" fill="black">B</text>
            <use xlink:href="#merchant" x="-200" y="600" />
            <text x="285" y="760" fill="black">C</text>
            <use xlink:href="#merchant" x="0" y="600" />
            <text x="485" y="760" fill="black">D</text>
            <circle id="dot" cx="640" cy="780" r="8" fill="white" />
            <use xlink:href="#dot" x="50" y="0" />
            <use xlink:href="#dot" x="100" y="0" />
            <use xlink:href="#merchant" x="400" y="600" />
            <text x="885" y="760" fill="black">Z</text>
            </g>
            <!--End of Merchant-->

            <!--Customer-->
            <g fill="white">
                <g id="human" transform="translate(-307,200)">
                    <path d="M805.1,217.7h-11.5v-63.9s-.4-.7-1.2-.8c-.6,0-1.1.3-1.4.8v25.9c-1.9-.5-3.7-1.4-4.8-2.4-1.7-1.7-2.5-3.4-2.5-5.6,0-7.3,0-14.6.1-21.9.2-.9.6-2.7,2-4.3,2.7-3.1,6.8-3,7.4-3h27.4c.3,0,4.4-.4,7,2.8,1.7,2.2,1.7,4.7,1.6,5.3v20.7c0,.6,0,3.3-2,5.7-2.1,2.4-4.7,2.8-5.3,2.8v-25.9c0,0-.4-.7-1.1-.8-.6,0-1.2.2-1.5.8v63.9h-11.5v-32c0-.6-.4-.8-1-.9-.7-.1-1.4,0-1.4.8,0,10.7-.2,21.4-.2,32.1h0Z"/>
                    <circle cx="807.4" cy="128" r="11.4"/>
                </g>
                <g id="4person">
                    <use xlink:href="#human" x="-230" y="140" />
                    <use xlink:href="#human" x="-180" y="170" />
                    <use xlink:href="#human" x="-130" y="120" />
                    <use xlink:href="#human" x="-80" y="148" />
                </g>
                <use xlink:href="#4person" x="-237" y="-38"/>
                <use xlink:href="#4person" x="237" y="-30"/>
                <use xlink:href="#4person" x="457" y="-38"/>
                <use xlink:href="#4person" x="580" y="28"/>
                <use xlink:href="#4person" x="44" y="-88"/>
                <use xlink:href="#4person" x="284" y="-108"/>
                <use xlink:href="#4person" x="-124" y="-118"/>
                <use xlink:href="#4person" x="527" y="-100"/>

                <line x1="500" y1="200" x2="500" y2="330" stroke="white" stroke-width="1" />
                <line x1="500" y1="200" x2="300" y2="380" stroke="white" stroke-width="1" />
                <line x1="500" y1="200" x2="700" y2="380" stroke="white" stroke-width="1" />
                <line x1="500" y1="200" x2="200" y2="400" stroke="white" stroke-width="1" />
                <line x1="500" y1="200" x2="100" y2="480" stroke="white" stroke-width="1" />
                <line x1="500" y1="200" x2="150" y2="370" stroke="white" stroke-width="1" />
                <line x1="500" y1="200" x2="50" y2="450" stroke="white" stroke-width="1" />
                <line x1="500" y1="200" x2="330" y2="400" stroke="white" stroke-width="1" />
                <line x1="500" y1="200" x2="380" y2="420" stroke="white" stroke-width="1" />
                <line x1="500" y1="200" x2="400" y2="420" stroke="white" stroke-width="1" />
                <line x1="500" y1="200" x2="420" y2="520" stroke="white" stroke-width="1" />
                <line x1="500" y1="200" x2="560" y2="420" stroke="white" stroke-width="1" />
                <line x1="500" y1="200" x2="600" y2="450" stroke="white" stroke-width="1" />
                <line x1="500" y1="200" x2="660" y2="450" stroke="white" stroke-width="1" />
                <line x1="500" y1="200" x2="730" y2="450" stroke="white" stroke-width="1" />
                <line x1="500" y1="200" x2="780" y2="470" stroke="white" stroke-width="1" />
                <line x1="500" y1="200" x2="810" y2="470" stroke="white" stroke-width="1" />
                <line x1="500" y1="200" x2="840" y2="470" stroke="white" stroke-width="1" />
                <line x1="500" y1="200" x2="890" y2="470" stroke="white" stroke-width="1" />
                <line x1="500" y1="200" x2="900" y2="470" stroke="white" stroke-width="1" />
                <line x1="500" y1="200" x2="1000" y2="530" stroke="white" stroke-width="1" />
                <line x1="500" y1="200" x2="880" y2="370" stroke="white" stroke-width="1" />
                <line x1="500" y1="200" x2="960" y2="380" stroke="white" stroke-width="1" />
                <line x1="500" y1="200" x2="910" y2="420" stroke="white" stroke-width="1" />
            </g>
            <!--End of Customer-->



            <!--Payment workflow animation-->
        <g class="hiddenitem">
            <g fill="white" id="dashedarrow1">
                <line x1="0" y1="0" x2="200" y2="0" stroke-dasharray="16" stroke-width="4" stroke="white">
                    <animate attributeName="x2" values="0; 200; 200" keyTimes="0; 0.1; 1" dur="10s" repeatCount="indefinite" />
                </line>
                <polygon points="20,0 0,-10 0,10">
                    <animate attributeName="points"  values="20,0 0,-10 0,10; 220,0 200,-10 200,10; 220,0 200,-10 200,10" keyTimes="0; 0.1; 1" dur="10s" repeatCount="indefinite" />
                </polygon>
                <text x="0" y="-20" fill="white">$$$
                    <animate attributeName="x" values="0; 200; 200" keyTimes="0; 0.1; 1" dur="10s" repeatCount="indefinite" />
                </text>
            </g>
            <g fill="white" id="dashedarrow2">
                <line x1="0" y1="0" x2="250" y2="0" stroke-dasharray="16" stroke-width="4" stroke="white">
                    <animate attributeName="x2" values="0; 0; 250; 250" keyTimes="0; 0.25; 0.35; 1" dur="10s" repeatCount="indefinite" />
                </line>
                <polygon points="20,0 0,-10 0,10">
                    <animate attributeName="points"  values="20,0 0,-10 0,10; 20,0 0,-10 0,10; 270,0 250,-10 250,10; 270,0 250,-10 250,10" keyTimes="0; 0.25; 0.35; 1" dur="10s" repeatCount="indefinite" />
                    <animate attributeType="CSS" attributeName="visibility" values="hidden;visible;visible"  keyTimes="0; 0.25; 1" dur="10s" repeatCount="indefinite" />
                </polygon>
                <text x="0" y="-20" fill="white">$$$
                    <animate attributeName="x" values="0; 0; 250; 250" keyTimes="0; 0.25; 0.35; 1" dur="10s" repeatCount="indefinite" />
                    <animate attributeType="CSS" attributeName="visibility" values="hidden;visible;visible"  keyTimes="0; 0.25; 1" dur="10s" repeatCount="indefinite" />
                </text>
            </g>
            <g fill="white" id="dashedarrow3">
                <line x1="0" y1="0" x2="230" y2="0" stroke-dasharray="16" stroke-width="4" stroke="white">
                    <animate attributeName="x2" values="0; 0; 230; 230" keyTimes="0; 0.4; 0.5; 1" dur="10s" repeatCount="indefinite" />
                </line>
                <polygon points="20,0 0,-10 0,10">
                    <animate attributeName="points"  values="20,0 0,-10 0,10; 20,0 0,-10 0,10; 250,0 230,-10 230,10; 250,0 230,-10 230,10" keyTimes="0; 0.4; 0.5; 1" dur="10s" repeatCount="indefinite" />
                    <animate attributeType="CSS" attributeName="visibility" values="hidden;visible;visible"  keyTimes="0; 0.4; 1" dur="10s" repeatCount="indefinite" />
                </polygon>
                <text x="0" y="-20" fill="white">$$$
                    <animate attributeName="x" values="0; 0; 230; 230" keyTimes="0; 0.4; 0.5; 1" dur="10s" repeatCount="indefinite" />
                    <animate attributeType="CSS" attributeName="visibility" values="hidden;visible;visible"  keyTimes="0; 0.5; 1" dur="10s" repeatCount="indefinite" />
                </text>
            </g>
        </g>
            <use xlink:href="#dashedarrow1" x="700" y="560" transform="rotate(40 700 560)"/>
            <use xlink:href="#dashedarrow2" x="300" y="540" transform="rotate(140 300 540)"/>
            <use xlink:href="#dashedarrow3" x="550" y="470" transform="rotate(100 550 470)"/>

            <g id="fabcoin" transform="translate(370,150)">
                <circle cx="200.8" cy="49.9" r="23.5" fill="orange" />
                <path d="M215,34.7h-15.9c-0.5,0.1-1.5,0.4-2.4,1.2c-1.4,1.2-1.7,2.7-1.8,3.3c-0.3,1.9-0.5,3.8-0.8,5.7h-5.7l-0.9,3.5 l6.1,0l-0.6,2.4c-2,0-4,0.1-6.1,0.1c-0.2,0.9-0.4,1.8-0.7,2.8c2,0,4,0,5.9-0.1l-2.2,11.3h9.8l1.6-10.9c2.3,0,4.7-0.1,7-0.1 c0.2-1,0.4-2.1,0.6-3.1c-2.3,0-4.5,0-6.8,0l0.4-2.7l6.8,0l0.7-3.2l-6.9-0.1l1.1-5.5c3.3-0.1,6.6-0.1,10-0.2 C214.5,37.6,214.7,36.1,215,34.7z" fill="whtie" />
            </g>
            <g id="4coins">
                <use xlink:href="#fabcoin" x="37" y="-10" />
                <use xlink:href="#fabcoin" x="73" y="5" />
                <use xlink:href="#fabcoin" x="117" y="0" />
                <use xlink:href="#fabcoin" x="173" y="-6" />
                <use xlink:href="#fabcoin" x="243" y="10" />
            </g>
            <use xlink:href="#4coins" x="-337" y="-2"/>
            <use xlink:href="#4coins" x="-400" y="3"/>
            <use xlink:href="#4coins" x="-477" y="-3"/>
            <use xlink:href="#4coins" x="-400" y="3"/>
            <use xlink:href="#4coins" x="17" y="-13"/>
            <use xlink:href="#4coins" x="49" y="-17"/>
            <use xlink:href="#4coins" x="-347" y="-13"/>
            <use xlink:href="#4coins" x="-393" y="-17"/>


        <use xlink:href="#fabcoin" x="320" y="580">
            <animate attributeName="x" values="320; 320; 300; 260; 230; 230" keyTimes="0; 0.1; 0.2; 0.3; 0.4; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeName="y" values="580; 580; -120; -30; 0; 0" keyTimes="0; 0.1; 0.2; 0.3; 0.4; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeType="CSS" attributeName="visibility" values="hidden;visible;visible"  keyTimes="0; 0.1; 1" dur="10s" repeatCount="indefinite" />
        </use>
        <use xlink:href="#fabcoin" x="320" y="580">
            <animate attributeName="x" values="330; 330; 220; 180; 150; 150" keyTimes="0; 0.15; 0.25; 0.35; 0.45; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeName="y" values="590; 590; -130; -26; -10; -10" keyTimes="0; 0.15; 0.25; 0.35; 0.45; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeType="CSS" attributeName="visibility" values="hidden;visible;visible"  keyTimes="0; 0.15; 1" dur="10s" repeatCount="indefinite" />
        </use>
        <use xlink:href="#fabcoin" x="320" y="580">
            <animate attributeName="x" values="320; 320; 147; 107; 77; 77" keyTimes="0; 0.12; 0.22; 0.32 0.42; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeName="y" values="580; 580; -120; -30; 0; 0" keyTimes="0; 0.12; 0.22; 0.32; 0.42; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeType="CSS" attributeName="visibility" values="hidden;visible;visible"  keyTimes="0; 0.12; 1" dur="10s" repeatCount="indefinite" />
        </use>
        <use xlink:href="#fabcoin" x="320" y="580">
            <animate attributeName="x" values="330; 330; 164; 104; 44; 44" keyTimes="0; 0.11; 0.21; 0.31; 0.41; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeName="y" values="590; 590; -130; -26; -10; -10" keyTimes="0; 0.11; 0.21; 0.31; 0.41; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeType="CSS" attributeName="visibility" values="hidden;visible;visible"  keyTimes="0; 0.11; 1" dur="10s" repeatCount="indefinite" />
        </use>
        <use xlink:href="#fabcoin" x="0" y="580">
            <animate attributeName="x" values="330; 330; 220; 180; 150; 150" keyTimes="0; 0.13; 0.23; 0.33; 0.43; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeName="y" values="590; 590; -130; -26; -10; -10" keyTimes="0; 0.13; 0.23; 0.33; 0.43; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeType="CSS" attributeName="visibility" values="hidden;visible;visible"  keyTimes="0; 0.13; 1" dur="10s" repeatCount="indefinite" />
        </use>
        <use xlink:href="#fabcoin" x="0" y="580">
            <animate attributeName="x" values="320; 320; 147; 107; 77; 77" keyTimes="0; 0.14; 0.24; 0.34; 0.44; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeName="y" values="580; 580; -120; -30; 0; 0" keyTimes="0; 0.14; 0.24; 0.34; 0.44; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeType="CSS" attributeName="visibility" values="hidden;visible;visible"  keyTimes="0; 0.14; 1" dur="10s" repeatCount="indefinite" />
        </use>
        <use xlink:href="#fabcoin" x="0" y="580">
            <animate attributeName="x" values="330; 330; 164; 104; 44; 44" keyTimes="0; 0.15; 0.26; 0.36; 0.46; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeName="y" values="590; 590; -130; -26; -10; -10" keyTimes="0; 0.16; 0.26; 0.36; 0.46; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeType="CSS" attributeName="visibility" values="hidden;visible;visible"  keyTimes="0; 0.16; 1" dur="10s" repeatCount="indefinite" />
        </use>


        <use xlink:href="#fabcoin" x="0" y="580">
            <animate attributeName="x" values="-488; -488; -392; -302; -290; -270" keyTimes="0; 0.35; 0.45; 0.55; 0.65; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeName="y" values="580; 580; -120; -30; 0; 0" keyTimes="0; 0.35; 0.45; 0.55; 0.65; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeType="CSS" attributeName="visibility" values="hidden;visible;visible"  keyTimes="0; 0.35; 1" dur="10s" repeatCount="indefinite" />
        </use>
        <use xlink:href="#fabcoin" x="-480" y="590">
            <animate attributeName="x" values="-480; -480; -400; -300; -340; -310" keyTimes="0; 0.4; 0.5; 0.6; 0.7; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeName="y" values="590; 590; -126; -40; 0; 0" keyTimes="0; 0.4; 0.5; 0.6; 0.7; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeType="CSS" attributeName="visibility" values="hidden;visible;visible"  keyTimes="0; 0.4; 1" dur="10s" repeatCount="indefinite" />
        </use>
        <use xlink:href="#fabcoin" x="0" y="580">
            <animate attributeName="x" values="-475; -475; -350; -260; -200; -170" keyTimes="0; 0.42; 0.52; 0.62; 0.72; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeName="y" values="585; 585; -120; -43; -8; -8" keyTimes="0; 0.42; 0.52; 0.62; 0.72; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeType="CSS" attributeName="visibility" values="hidden;visible;visible"  keyTimes="0; 0.42; 1" dur="10s" repeatCount="indefinite" />
        </use>
        <use xlink:href="#fabcoin" x="0" y="580">
            <animate attributeName="x" values="-470; -470; -250; -160; -100; -70" keyTimes="0; 0.36; 0.46; 0.56; 0.66; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeName="y" values="590; 590; -130; -26; -10; -10" keyTimes="0; 0.36; 0.46; 0.56; 0.66; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeType="CSS" attributeName="visibility" values="hidden;visible;visible"  keyTimes="0; 0.36; 1" dur="10s" repeatCount="indefinite" />
        </use>
        <use xlink:href="#fabcoin" x="0" y="580">
            <animate attributeName="x" values="-483; -483; -389; -297; -274; -256" keyTimes="0; 0.37; 0.47; 0.57; 0.67; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeName="y" values="582; 582; -124; -32; -2; -2" keyTimes="0; 0.37; 0.47; 0.57; 0.67; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeType="CSS" attributeName="visibility" values="hidden;visible;visible"  keyTimes="0; 0.37; 1" dur="10s" repeatCount="indefinite" />
        </use>
        <use xlink:href="#fabcoin" x="-480" y="590">
            <animate attributeName="x" values="-478; -478; -390; -290; -330; -302" keyTimes="0; 0.38; 0.48; 0.58; 0.68; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeName="y" values="590; 590; -126; -40; 0; 0" keyTimes="0; 0.38; 0.48; 0.58; 0.68; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeType="CSS" attributeName="visibility" values="hidden;visible;visible"  keyTimes="0; 0.38; 1" dur="10s" repeatCount="indefinite" />
        </use>
        <use xlink:href="#fabcoin" x="0" y="580">
            <animate attributeName="x" values="-485; -485; -360; -270; -210; -180" keyTimes="0; 0.39; 0.49; 0.59; 0.69; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeName="y" values="585; 585; -120; -43; -8; -8" keyTimes="0; 0.39; 0.49; 0.59; 0.69; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeType="CSS" attributeName="visibility" values="hidden;visible;visible"  keyTimes="0; 0.39; 1" dur="10s" repeatCount="indefinite" />
        </use>
        <use xlink:href="#fabcoin" x="0" y="580">
            <animate attributeName="x" values="-474; -474; -254; -164; -104; -74" keyTimes="0; 0.34; 0.44; 0.54; 0.64; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeName="y" values="590; 590; -130; -26; -10; -10" keyTimes="0; 0.34; 0.44; 0.54; 0.64; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeType="CSS" attributeName="visibility" values="hidden;visible;visible"  keyTimes="0; 0.34; 1" dur="10s" repeatCount="indefinite" />
        </use>

        <use xlink:href="#fabcoin" x="-88" y="580">
            <animate attributeName="x" values="-88; -88; -192; -202; -190; -170" keyTimes="0; 0.55; 0.65; 0.75; 0.85; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeName="y" values="580; 580; -120; -30; 0; 0" keyTimes="0; 0.55; 0.65; 0.75; 0.85; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeType="CSS" attributeName="visibility" values="hidden;visible;visible"  keyTimes="0; 0.55; 1" dur="10s" repeatCount="indefinite" />
        </use>
        <use xlink:href="#fabcoin" x="-98" y="590">
            <animate attributeName="x" values="-68; -68; -240; -300; -320; -340" keyTimes="0; 0.5; 0.6; 0.7; 0.8; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeName="y" values="590; 590; -126; -40; 0; 0" keyTimes="0; 0.5; 0.6; 0.7; 0.8; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeType="CSS" attributeName="visibility" values="hidden;visible;visible"  keyTimes="0; 0.5; 1" dur="10s" repeatCount="indefinite" />
        </use>
        <use xlink:href="#fabcoin" x="-80" y="580">
            <animate attributeName="x" values="-50; -50; -90; -160; -200; -170" keyTimes="0; 0.52; 0.62; 0.72; 0.82; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeName="y" values="585; 585; -120; -43; -8; -8" keyTimes="0; 0.52; 0.62; 0.72; 0.82; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeType="CSS" attributeName="visibility" values="hidden;visible;visible"  keyTimes="0; 0.52; 1" dur="10s" repeatCount="indefinite" />
        </use>
        <use xlink:href="#fabcoin" x="0" y="580">
            <animate attributeName="x" values="-50; -50; -20; -50; -130; -170" keyTimes="0; 0.54; 0.64; 0.74; 0.84; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeName="y" values="590; 590; -130; -26; -10; -10" keyTimes="0; 0.54; 0.64; 0.74; 0.84; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeType="CSS" attributeName="visibility" values="hidden;visible;visible"  keyTimes="0; 0.54; 1" dur="10s" repeatCount="indefinite" />
        </use>
        <use xlink:href="#fabcoin" x="0" y="580">
            <animate attributeName="x" values="-40; -40; 20; 70; 100; 120" keyTimes="0; 0.51; 0.61; 0.71; 0.81; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeName="y" values="582; 582; -124; -32; -2; -2" keyTimes="0; 0.51; 0.61; 0.71; 0.81; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeType="CSS" attributeName="visibility" values="hidden;visible;visible"  keyTimes="0; 0.51; 1" dur="10s" repeatCount="indefinite" />
        </use>
        <use xlink:href="#fabcoin" x="-480" y="590">
            <animate attributeName="x" values="-47; -47; 30; 90; 130; 150" keyTimes="0; 0.56; 0.66; 0.76; 0.86; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeName="y" values="590; 590; -126; -40; 0; 0" keyTimes="0; 0.56; 0.66; 0.76; 0.86; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeType="CSS" attributeName="visibility" values="hidden;visible;visible"  keyTimes="0; 0.56; 1" dur="10s" repeatCount="indefinite" />
        </use>
        <use xlink:href="#fabcoin" x="0" y="580">
            <animate attributeName="x" values="-65; -65; 60; 110; 140; 150" keyTimes="0; 0.57; 0.67; 0.77; 0.89; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeName="y" values="585; 585; -120; -43; -8; -8" keyTimes="0; 0.57; 0.67; 0.77; 0.87; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeType="CSS" attributeName="visibility" values="hidden;visible;visible"  keyTimes="0; 0.57; 1" dur="10s" repeatCount="indefinite" />
        </use>
        <use xlink:href="#fabcoin" x="0" y="580">
            <animate attributeName="x" values="-44; -44; 54; 84; 104; 174" keyTimes="0; 0.53; 0.63; 0.73; 0.83; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeName="y" values="590; 590; -130; -26; -10; -10" keyTimes="0; 0.53; 0.63; 0.73; 0.83; 1" dur="10s" repeatCount="indefinite" />
            <animate attributeType="CSS" attributeName="visibility" values="hidden;visible;visible"  keyTimes="0; 0.53; 1" dur="10s" repeatCount="indefinite" />
        </use>

        <!--End of payment workflow animation-->
        </svg>
    </div>
</div>