<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">From</th>
        <th scope="col">Type</th>
        <th scope="col">User</th>
        <th scope="col">Amount</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of rewards">
        <td>{{item.from}}</td>
        <td>{{item.type}}</td>
        <td>{{item.user}}</td>
        <td>{{item.rewardAmount}} {{item.rewardCoin}}</td>
      </tr>
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="javascript:void()" aria-label="Previous" (click)="changePageNum(pageNum - 1)">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="javascript:void()" (click)="changePageNum(1)">1</a></li>
      <li class="page-item"><a class="page-link" href="javascript:void()" (click)="changePageNum(2)">2</a></li>
      <li class="page-item"><a class="page-link" href="javascript:void()" (click)="changePageNum(3)">3</a></li>
      <li class="page-item">
        <a class="page-link" href="javascript:void()" aria-label="Next" (click)="changePageNum(pageNum + 1)">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
</nav>