.border-bottom {
    border-bottom: 1px solid grey;
}

.item {
    cursor: pointer;
}

.item:hover {
    background-color: grey;
}

.border-grey {
    border: 1px solid grey;
    border-radius: 3px;
}