<div class="container">
  <div class="d-flex justify-content-center">
    total: {{totalCount}}
  </div>
    <nav class="d-flex justify-content-center">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" (click)="gotoPage(pageNum - 1)">Previous</a></li>
          <li class="page-item" *ngIf="totalPageNum >= 0">
            <a class="page-link" (click)="gotoPage(0)">1</a>
          </li>
          <li class="page-item" *ngIf="totalPageNum >= 1">
            <a class="page-link" (click)="gotoPage(1)">2</a>
          </li>
          <li class="page-item" *ngIf="totalPageNum >= 2">
            <a class="page-link" (click)="gotoPage(2)">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="gotoPage(pageNum + 1)">Next</a>
          </li>
        </ul>
    </nav>
    <ul class="responsive-table">
        <li class="table-header">
            <div class="col col-3">{{'User' | translate}}</div>
            <div class="col col-2">{{'Ref address' | translate}}</div>
            <div class="col col-2">{{'Status' | translate}}</div>
            <div class="col col-1"></div>
        </li>
        <li class="table-row" *ngFor="let item of users">
            <div class="col col-3" data-label="Name">{{showId(item.user)}}</div>
            <div class="col col-2" data-label="Name">{{showId(item.referral)}}</div>
            <div class="col col-2" data-label="Name">{{showStatus(item.newStatus)}}</div>
            <div class="col col-1 text-right" data-label="Operations">

                <div class="d-inline-block px-2">
                    <a (click)="edit(item.user)">
                        <img src="/assets/svg/edit.svg">
                    </a>
                </div>

            </div>
        </li>
    </ul>
    <nav class="d-flex justify-content-center">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" (click)="gotoPage(pageNum - 1)">Previous</a></li>
          <li class="page-item" *ngIf="totalPageNum >= 0">
            <a class="page-link" (click)="gotoPage(0)">1</a>
          </li>
          <li class="page-item" *ngIf="totalPageNum >= 1">
            <a class="page-link" (click)="gotoPage(1)">2</a>
          </li>
          <li class="page-item" *ngIf="totalPageNum >= 2">
            <a class="page-link" (click)="gotoPage(2)">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="gotoPage(pageNum + 1)">Next</a>
          </li>
        </ul>
    </nav>    
</div>