<div class="container">
  <div class="input-group mb-3">
    <input type="text" class="form-control" [(ngModel)]="user" placeholder="user" aria-label="user" aria-describedby="basic-addon2">
    <div class="input-group-append" (click)="search()">
      <span class="input-group-text" id="basic-addon2">Search</span>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    total: {{totalCount}}
  </div>
    <nav class="d-flex justify-content-center">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" (click)="gotoPage(pageNum - 1)">Previous</a></li>
          <li class="page-item" *ngIf="totalPageNum >= 0">
            <a class="page-link" (click)="gotoPage(0)">1</a>
          </li>
          <li class="page-item" *ngIf="totalPageNum >= 1">
            <a class="page-link" (click)="gotoPage(1)">2</a>
          </li>
          <li class="page-item" *ngIf="totalPageNum >= 2">
            <a class="page-link" (click)="gotoPage(2)">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="gotoPage(pageNum + 1)">Next</a>
          </li>
        </ul>
    </nav>
    <ul class="responsive-table">
        <li class="table-header">
            <div class="col col-3">{{'User' | translate}}</div>
            <div class="col col-3">{{'Referral' | translate}}</div>
            <div class="col col-2">{{'Status' | translate}}</div>
            <div class="col col-1"></div>
        </li>
        <li class="table-row" *ngFor="let item of users">
            <div class="col col-3" data-label="User">{{item.user}}</div>
            <div class="col col-3" data-label="Referral">{{item.referral}}</div>
            <div class="col col-2" data-label="Status">{{showStatus(item)}}</div>
            <div class="col col-1 text-right" data-label="Operations">

                <div class="d-inline-block px-2">
                    <a (click)="edit(item.user)">
                        <img src="/assets/svg/edit.svg">
                    </a>
                </div>

            </div>
        </li>
    </ul>
    <nav class="d-flex justify-content-center">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" (click)="gotoPage(pageNum - 1)">Previous</a></li>
          <li class="page-item" *ngIf="totalPageNum >= 0">
            <a class="page-link" (click)="gotoPage(0)">1</a>
          </li>
          <li class="page-item" *ngIf="totalPageNum >= 1">
            <a class="page-link" (click)="gotoPage(1)">2</a>
          </li>
          <li class="page-item" *ngIf="totalPageNum >= 2">
            <a class="page-link" (click)="gotoPage(2)">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="gotoPage(pageNum + 1)">Next</a>
          </li>
        </ul>
    </nav>    
</div>