<div class="container">
    <div>
        <a (click)="add()">
          <img src="/assets/svg/add.svg">
        </a>
      </div>
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-4">{{'User' | translate}}</div>
        <div class="col col-4">{{'Project id' | translate}}</div>
        <div class="col col-4">{{'Status' | translate}}</div>
      </li>
      <li class="table-row" *ngFor="let item of projectusers">
        <div class="col col-4" data-label="User">{{item.user}}</div>
        <div class="col col-4" data-label="Project id">{{item.projectId}}</div>
        <div class="col col-4" data-label="Status">{{item.status}}</div>
      </li>
    </ul>
</div>