<div class="merchant-contact">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="container">
            <div class="row m7-5">
                <div class="col-md-12 center">
                    <h1>
                        {{ 'headline' | translate }}
                    </h1>

                </div>
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <p class="center pt-3 sub-title">
                        {{ 'subheadline' | translate }}
                    </p>
                </div>
                <div class="col-md-3"></div>
            </div>

            <div class="row">

                <div class="col-md-6">
                    <!-- input text field for first name -->
                    <label for="firstname">{{ 'firstname' | translate }}</label>
                    <input type="text" class="form-control" placeholder="{{ 'firstname' | translate }}"
                        formControlName="firstname">
                    <div 
                        *ngIf="myForm.get('firstname').invalid && (myForm.get('firstname').dirty || myForm.get('firstname').touched)">
                        <div *ngIf="myForm.get('firstname').errors.required" class="text-danger">First name is required.</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- input text field for last name -->
                    <label for="lastname">{{ 'lastname' | translate }}</label>
                    <input type="text" class="form-control" placeholder="{{ 'lastname' | translate }}"
                        formControlName="lastname">
                    <div 
                        *ngIf="myForm.get('lastname').invalid && (myForm.get('lastname').dirty || myForm.get('lastname').touched)">
                        <div *ngIf="myForm.get('lastname').errors.required" class="text-danger">Last name is required.</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- email address -->
                    <label for="email">{{ 'email' | translate }}</label>
                    <input type="text" class="form-control" placeholder="{{ 'email' | translate }}"
                        formControlName="email">
                    <div 
                        *ngIf="myForm.get('email').invalid && (myForm.get('email').dirty || myForm.get('email').touched)">
                        <div *ngIf="myForm.get('email').errors.required" class="text-danger">Email is required.</div>
                        <div *ngIf="myForm.get('email').errors.email" class="text-danger">Email is not valid.</div>
                    </div>

                </div>
                <div class="col-md-6">
                    <!-- phone -->
                    <label for="phone">{{ 'cell' | translate }}</label>
                    <input type="text" class="form-control" placeholder="{{ 'cell' | translate }}"
                        formControlName="phone">
                </div>
                <div class="col-md-6">
                    <!-- company -->
                    <label for="company">{{ 'company' | translate }}</label>
                    <input type="text" class="form-control" placeholder="{{ 'company' | translate }}"
                        formControlName="company">
                </div>
                <div class="col-md-6">
                    <!-- website -->
                    <label for="website">{{ 'website' | translate }}</label>
                    <input type="text" class="form-control" placeholder="{{ 'website' | translate }}"
                        formControlName="website">

                </div>
                <div class="col-md-6">
                    <!-- industry dropdown select -->
                    <label for="industry">{{ 'industry' | translate }}</label>
                    <select class="form-control" formControlName="industry">
                        <option *ngFor="let induct of industries" value="{{induct}}">{{induct}}</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <!-- country dropdown -->
                    <label for="country">{{ 'country' | translate }}</label>
                    <select class="form-control" formControlName="country">
                        <option *ngFor="let country of countries" value="{{country}}">{{country}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- message -->
                    <label for="message">{{ 'message' | translate }}</label>
                    <textarea class="form-control" rows="5" formControlName="message"></textarea>
                    <div 
                        *ngIf="myForm.get('message').invalid && (myForm.get('message').dirty || myForm.get('message').touched)">
                        <div *ngIf="myForm.get('message').errors.required" class="text-danger">Message is required.</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary mt-3">{{ 'submit' | translate }}</button>
                    <div>
                        <p *ngIf="submitted" class="text-success">{{ 'Success Submitted' | translate }}</p>
                      
                    </div>
                
                </div>
            </div>
        </div>
    </form>
</div>