.merchant-contact{
    background-color: #fff;
    padding: 100px 0;

    .sub-title{
        color: #888;
    }

    label{
        font-size: 16px;
        color: #333;
        margin-top: 20px;
    }

    .invalid-feedback{
        color: #f00;
    }
}