<div class="container">
    <div class="d-flex">
        <div class="px-3" (click)="changeTab('pay')">Pay</div>
        <div class="px-3" (click)="changeTab('history')">Transaction History</div>
    </div>
</div>
<div class="container py-3" *ngIf="tab == 'pay'">
    <div *ngIf="address">
        <div class="form-group">
            <label for="exampleInputAmount">Amount</label>
            <input type="number" class="form-control" aria-describedby="amountHelp" [(ngModel)]="amount" placeholder="Enter amount">
        </div>

        <div class="ActionButtonrContainer ">
            <div class="ActionButton--content" (click)="submit()" style="min-width: 120px;">
                {{'Submit' | translate}}
            </div>
        </div> 
    </div>
    
    <div *ngIf="!address" class="row">
        <div class="col col-8">
            <div *ngIf="name">
                Name: {{name}}
            </div>
            <div *ngIf="to">
                To: {{to}}
            </div>
            <div *ngIf="data">
                Data: {{data}}
            </div>
        </div>

        <div>
            {{payType}}
            <div (click)="changePayType('WithFee')">
                <input class="form-check-input" type="radio" name="payType" [value]="'WithFee'"  [(ngModel)]="payType" >
                <label class="form-check-label" for="flexRadioDefault1">
                  Pay with your balance
                </label>
            </div>
            <div (click)="changePayType('FromCredit')">
                <input class="form-check-input" type="radio" name="payType" [value]="'FromCredit'"  [(ngModel)]="payType">
                <label class="form-check-label" for="flexRadioDefault2">
                  Pay with merchant's credit
                </label>
            </div>
        </div>


        <div class="col col-4">
            <div class="ActionButtonrContainer ">
                <div class="ActionButton--content" (click)="submit()" style="min-width: 120px;">
                    {{'Submit' | translate}}
                </div>
            </div> 
        </div>
    </div>
</div>

<div *ngIf="tab == 'history'">
    <app-order-history [transactionHistories]="transactionHistories"></app-order-history>
</div>