.store{
    background-color: black;   
    border-radius: 10px;
}

.storeContainer{
    padding: 10px 10px;
}

h6{
    color: white;
    font-size: 20px;
    font-weight: 800;
}

.certified{
    border-radius: 100%;
    width: 25px;
    height: 25px;
    background-color: #42437f;
    text-align: center;
    //margin: 0 auto;
}

.text-2{
    color: #c9c9c9;
    font-size: 15px;
}


.text-3{
    color: #aaa;
    font-size: 15px;
}