<div style="border:1px solid #ccc">
    <div class="container">
      <h1>{{'Add merchant\'s credit' | translate}}</h1>
      <hr>

        <label for="email"><b>{{'Merchant\'s wallet address' | translate}}</b></label>
        <input type="text" placeholder="Enter merchant's wallet address" [(ngModel)]="merchantWalletAddress" name="merchantWalletAddress" required>


        <div class="form-group">
            <label><b>{{'Coin' | translate}}</b></label>
            <div class="form-control small">
                <select [(ngModel)]="coin" name="coin" class="form-select form-select-sm mb-3 small coinselect" aria-label=".form-select-lg example">
                    <option value="">{{'Select coin' | translate}}:</option>
                    <option *ngFor="let coin of coins" value="{{coin}}">{{coin}}</option>
                </select>
            </div>
        </div>

        <label for="email"><b>{{'Amount' | translate}}</b></label>
        <input type="text" placeholder="Amount" [(ngModel)]="amount" name="amount" required>


        <div class="text-right py-2">
            <button class="btn signinbtn" (click)="confirm()">{{('Confirm') | translate}}</button>
        </div>
    </div>
</div>