<div class="container">
    <div>
        <a (click)="add()">
          <img src="/assets/svg/add.svg">
        </a>
      </div>
    <ul class="responsive-table">
        <li class="table-header">
            <div class="col col-2">{{'TokenId' | translate}}</div>
            <div class="col col-6">{{'Owner' | translate}}</div>
            <div class="col col-2">{{'TokenType' | translate}}</div>
            <div class="col col-2">{{'Senior' | translate}}</div>
        </li>
        <li class="table-row" *ngFor="let merchantNode of merchantNodes">
            <div class="col col-2" data-label="Name">{{merchantNode.tokenId}}</div>
            <div class="col col-6" data-label="Name">{{showAddress(merchantNode.owner)}}</div>
            <div class="col col-2" data-label="Name">{{showType(merchantNode.tokenType)}}</div>
            <div class="col col-2" data-label="Name">{{merchantNode.senior}}</div>
        </li>
    </ul>
</div>