<div class="container">
    <div>
        <a (click)="add()">
          <img src="/assets/svg/add.svg">
        </a>
      </div>
    <ul class="responsive-table">
        <li class="table-header">
            <div class="col col-2">{{'TokenId' | translate}}</div>
            <div class="col col-2">{{'TokenType' | translate}}</div>
            <div class="col col-2">{{'creditScore' | translate}}</div>
            <div class="col col-2">{{'Parent' | translate}}</div>
            <div class="col col-2"></div>
        </li>
        <li class="table-row" *ngFor="let merchantNode of merchantNodes">
            <div class="col col-2" data-label="TokenId">{{merchantNode.tokenId}}</div>
            <div class="col col-2" data-label="TokenType">{{showType(merchantNode.tokenType)}}</div>
            <div class="col col-2" data-label="creditScore">{{merchantNode.creditScore}}</div>
            <div class="col col-2" data-label="Parent">{{merchantNode.senior}}</div>
            <div class="col col-2" data-label="Update">
                <a href="/admin/merchant-node/{{merchantNode.tokenId}}/update">
                    Update
                </a>
            </div>
        </li>
    </ul>
</div>
